<template>
    <div>
        <h3>Статистика за сьогодні</h3>
        <h6 class="mb-2">{{ String(date.getDate()).padStart(2, '0') }} - {{ String(date.getMonth() + 1).padStart(2, '0') }} - {{ date.getFullYear() }}</h6>
        <v-card>
            <v-row>
                <v-col
                    md="6"
                    xs="12"
                    class="d-flex align-start flex-column"
                >
                    <v-card-text
                    >
                        <div class="title">Службові ситуації</div>
                        <div
                            v-for="(number, situation_name) in countSituations()"
                        >
                            <div class="d-flex justify-space-between green--text text--lighten-1"
                                 v-if="number > 0"
                            >
                                <span>{{ situation_name }}:</span> <span>{{ number }}</span>
                            </div>
                            <div
                                v-else
                                class="d-flex justify-space-between"
                            >
                                <span>{{ situation_name }}:</span> <span>{{ number }}</span>
                            </div>
                        </div>

                    </v-card-text>


                </v-col>
                <v-col
                    md="6"
                    xs="12"
                    class="d-flex align-start flex-column"

                >
                    <v-card-text
                        class="mb-auto"
                    >
                        <div class="title">Ключові компетенції</div>

                        <div
                            class=""
                            v-for="(number, competence) in countCompetencies()"
                            v-if="competence !== ''"
                        >
                            <div class="d-flex justify-space-between green--text text--lighten-1"
                                v-if="number > 0"
                            >
                                <span >{{ competence }}:</span> <span>{{ number }}</span>

                            </div>
                            <div
                                v-else
                                class="d-flex justify-space-between"
                            >
                                <span>{{ competence }}:</span> <span>{{ number }}</span>

                            </div>
                        </div>
                    </v-card-text>
                    <v-card-text>
                        <div class="d-flex justify-space-between"><span>Написаних звітів:</span> <span>{{countReports()}}</span></div>
                        <div class="d-flex justify-space-between"><span>Оцінених ментором звітів:</span> <span>{{countAssessedSituations()}}</span></div>
                        <div class="d-flex justify-space-between"><span>Загальна оцінка:</span> <span>{{averageRating()}}/5</span></div>
                    </v-card-text>
                </v-col>
            </v-row>
            <v-row>
                <v-col
                    md="6"
                    xs="12"
                >
                </v-col>
                <v-col
                    md="6"
                    xs="12"
                >
<!--{{countCompetencies()}}-->
                </v-col>
            </v-row>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "DailyStatistic",
        props: {
            freshReportsList: {
                type: Array
            },
            shift: {
                type: Object
            }
        },
        data () {
            return {
                cc: {
                    //АДМІНІСТРАТИВНІ ПРАВОПОРУШЕННЯ
                    'Дрібні адміністративні правопорушення': 0,
                    'Бійка в публічному місці': 0,
                    'Масові заворушення та охорона публічного порядку': 0,
                    'Порушення правил дорожнього руху': 0,
                    'Керування транспортним засобом в стані сп’яніння': 0,
                    'Дорожньо-транспортна пригода без потерпілих': 0,
                    //ЗЛОЧИНИ
                    'Грабіж/розбій/крадіжка': 0,
                    'Злочин проти життя та здоров’я особи': 0,
                    'Вуличний злочин': 0,
                    'Дорожньо-транспортна пригода з потерпілими': 0,
                    //ДОМАШНЄ НАСИЛЬСТВО
                    'Домашнє насильство': 0,
                    //ПРЕВЕНЦІЯ
                    'Несення служби в публічному місці': 0,
                    'Регулювання дорожнього руху': 0,
                },
                competenciesList: {
                    'тактика': 0,
                    'комунікація': 0,
                    'законодавство': 0,
                    'документування': 0,
                    'етика та службова дисципліна': 0,
                    'управління стресом': 0,
                    'спеціальні знання та засоби': 0,
                    'модель застосування сили': 0,
                    'безпека дорожнього руху': 0,
                    'дії на місці події': 0,
                    'взаємодія з населенням': 0
                },
                date: new Date(),
            }
        },
        methods: {
            // countCompetencies () {
            //     const competenciesFromReport = [];
            //     const competenciesNumber = {};
            //     this.freshReportsList.forEach(function(el) {
            //         competenciesFromReport.push(el.competencies);
            //     });
            //     let allCompetencies = competenciesFromReport.join('; ');
            //     allCompetencies = allCompetencies.split('; ');
            //
            //     allCompetencies.forEach(function (item) {
            //         if(!competenciesNumber[item])
            //             competenciesNumber[item] = 0;
            //         competenciesNumber[item] += 1;
            //     });
            //
            //     return competenciesNumber;
            // },
            countCompetencies () {

                if (!this.shift.started_at) {
                    return this.competenciesList;
                }

                const competenciesFromReport = [];
                const situationsNumber = {};

                this.freshReportsList.forEach(function(el) {
                    competenciesFromReport.push(el.competencies_names);
                });

                const allCompetencies = competenciesFromReport.join('; ').split('; ');

                allCompetencies.forEach(function (item) {

                    if(!situationsNumber[item]) {
                        situationsNumber[item] = 0;
                    }
                    situationsNumber[item] += 1;
                });

                const returnedTarget = Object.assign(this.competenciesList, situationsNumber);

                return returnedTarget;
            },
            countReports () {
                if (this.shift.started_at) {
                    return this.freshReportsList.length;
                } else {
                    return 0;
                }
            },
            countSituations () {
                if (!this.shift.started_at) {
                    return this.cc;
                }
                const situationsFromReport = [];
                const situationsNumber = {};

                this.freshReportsList.forEach(function(el) {
                    situationsFromReport.push(el.situation_name);
                });

                situationsFromReport.forEach(function (item) {
                    if(!situationsNumber[item])
                        situationsNumber[item] = 0;
                    situationsNumber[item] += 1;
                });

                const returnedTarget = Object.assign(this.cc, situationsNumber);

                return returnedTarget;
            },
            findAssessedSituations () {
                return this.freshReportsList.filter(el => el.recommendations !== null);
            },
            averageRating () {
                let sumRating = 0;
                this.findAssessedSituations().forEach( el => {
                    sumRating += el.rating;
                });
                return (sumRating / this.countAssessedSituations()).toFixed(2);
            },
            countAssessedSituations () {
                this.assessedSituations = this.findAssessedSituations().length;
                return this.assessedSituations;
            }
        }
    }
</script>

<style scoped>

</style>
