<template>
    <div>
        <v-dialog
            v-model="dialog"
            persistent
            width="1000"
            class="my-2"
        >
            <template
                #activator="{ on: dialog }"
            >
                <!--                                false, false-->
                <v-tooltip
                    v-if="shift.request_finish || !shift.started_at"
                    right
                >
                    <template #activator="{ on: tooltip }">
                        <div
                            style="display: inline-block"
                            v-on="{ ...tooltip }"
                        >
                            <v-btn
                                v-on="{ ...dialog }"
                                disabled
                            >
                                Написати звіт
                            </v-btn>
                        </div>
                    </template>
                    <span>Спочатку розпочніть зміну</span>
                </v-tooltip>

                <v-tooltip
                    v-else
                    right
                >
                    <template #activator="{ on: tooltip }">
                        <div
                            style="display: inline-block"
                            v-on="{ ...tooltip }"
                        >
                            <v-btn

                                color="green lighten-2"
                                dark
                                v-on="{ ...dialog }"
                            >
                                Написати звіт
                            </v-btn>
                        </div>
                    </template>
                    <span>Натисніть, щоб приступити до написання звіту</span>
                </v-tooltip>
            </template>

            <v-stepper
                v-model="stepperWindow"
            >
                <template >
                    <v-stepper-header class="d-flex justify-center align-center grey lighten-2">
                        <h3 class="headline">Ситуаційний звіт стажера</h3>
                    </v-stepper-header>

                    <v-stepper-items>
<!--                        Fabula start-->
                        <v-stepper-content
                            step="1"
                        >
                            <v-card>
                                <v-card-title
                                    class="title"
                                    primary-title
                                >
                                    Фабула
                                </v-card-title>

                                <v-card-text>
                                    <v-select
                                        class="my-2"
                                        :items="situationsList"
                                        item-text="name"
                                        item-value="id"
                                        label="Оберіть вид службової ситуації"
                                        target="#dropdown-example"
                                        v-model="situation"
                                        outlined
                                    ></v-select>
                                    <v-textarea
                                        name="fabula"
                                        label="Фабула"
                                        placeholder="Заповніть фабулу звіту"
                                        v-model="fabula"
                                    ></v-textarea>
                                </v-card-text>
                            </v-card>
                            <div
                                class="d-flex mt-2"
                            >
                                <v-tooltip
                                    v-if="typeof fabula === 'undefined' || fabula === '' || situation === ''"
                                    bottom
                                >
                                    <template #activator="{ on: tooltip }">
                                        <div
                                            v-on="{...tooltip}"
                                        >
                                            <v-btn
                                                color="primary"
                                                disabled
                                            >
                                                Далі
                                            </v-btn>
                                        </div>
                                    </template>
                                    <span>Оберіть службову ситуацію і заповніть фабулу</span>
                                </v-tooltip>

                                <v-btn
                                    v-else
                                    color="primary"
                                    @click="stepperWindow = 2"
                                >
                                    Далі
                                </v-btn>

                                <v-spacer></v-spacer>

                                <v-btn
                                    text
                                    @click="cancel"
                                >
                                    Відмінити
                                </v-btn>
                            </div>
                        </v-stepper-content>
<!--                        Fabula end-->

<!--                        Algorithm start-->
                        <v-stepper-content
                            step="2"
                        >
                            <v-card>
                                <v-card-title
                                    class="title"
                                    primary-title
                                >
                                    Алгоритм дій наставника
                                </v-card-title>

                                <v-card-text>
                                    <v-textarea
                                        name="algorithm"
                                        placeholder="Опишіть алгоритм дій наставника"
                                        v-model="algorithm"
                                    ></v-textarea>
                                </v-card-text>
                            </v-card>
                            <div
                                class="d-flex mt-2"
                            >
                                <v-tooltip
                                    v-if="typeof algorithm === 'undefined' || algorithm === ''"
                                    bottom
                                >
                                    <template #activator="{ on: tooltip }">
                                        <div
                                            v-on="{...tooltip}"
                                        >
                                            <v-btn
                                                color="primary"
                                                disabled
                                            >
                                                Далі
                                            </v-btn>
                                        </div>
                                    </template>
                                    <span>Заповніть алгоритм дій наставника</span>
                                </v-tooltip>

                                <v-btn
                                    v-else
                                    color="primary"
                                    @click="stepperWindow = 3"
                                >
                                    Далі
                                </v-btn>
                                <v-btn
                                    class="mx-4"
                                    color="primary"
                                    @click="stepperWindow = 1"
                                >
                                    Назад
                                </v-btn>
                                <v-spacer></v-spacer>

                                <v-btn
                                    text
                                    @click="cancel"
                                >
                                    Відмінити
                                </v-btn>
                            </div>
                        </v-stepper-content>
<!--                        Algorithm end-->

<!--                        Competencies start-->
                        <v-stepper-content
                            step="3"
                        >
                            <v-card>
                                <v-card-title
                                    class="title"
                                    primary-title
                                >
                                    Ключові компетенції
                                </v-card-title>

                                <v-card-text>
                                    <v-select
                                        v-model="competencies"
                                        :items="competenciesList"
                                        item-text="name"
                                        item-value="id"
                                        chips
                                        label="Ключові компетенції"
                                        multiple
                                        outlined
                                    ></v-select>
                                </v-card-text>
                            </v-card>
                            <div
                                class="d-flex mt-2"
                            >
                                <v-tooltip
                                    v-if="typeof competencies === 'undefined' || competencies.length === 0"
                                    bottom
                                >
                                    <template #activator="{ on: tooltip }">
                                        <div
                                            v-on="{...tooltip}"
                                        >
                                            <v-btn
                                                color="primary"
                                                disabled
                                            >
                                                Далі
                                            </v-btn>
                                        </div>
                                    </template>
                                    <span>Оберіть ключові компетенції</span>
                                </v-tooltip>

                                <v-btn
                                    v-else
                                    color="primary"
                                    @click="stepperWindow = 4"
                                >
                                    Далі
                                </v-btn>

                                <v-btn
                                    class="mx-4"
                                    color="primary"
                                    @click="stepperWindow = 2"
                                >
                                    Назад
                                </v-btn>

                                <v-spacer></v-spacer>

                                <v-btn
                                    text
                                    @click="cancel"
                                >
                                    Відмінити
                                </v-btn>
                            </div>
                        </v-stepper-content>
<!--                        Competencies end-->

<!--                        Notes start-->
                        <v-stepper-content
                            step="4"
                        >
                            <v-card>
                                <v-card-title
                                    class="title"
                                    primary-title
                                >
                                    Нотатки
                                </v-card-title>

                                <v-card-text>
                                    <v-textarea
                                        name="notes"
                                        label="Нотатки"
                                        placeholder="..."
                                        v-model="notes"
                                    ></v-textarea>
                                </v-card-text>
                            </v-card>
                            <div
                                class="d-flex mt-2"
                            >
                                <v-btn
                                    v-if="!updating"
                                    color="primary"
                                    @click="saveReport"
                                >
                                    Зберегти
                                </v-btn>
                                <v-btn
                                    v-else
                                    color="primary"
                                    @click="updateReport"
                                >
                                    Оновити
                                </v-btn>

                                <v-btn
                                    class="mx-4"
                                    color="primary"
                                    @click="stepperWindow = 3"
                                >
                                    Назад
                                </v-btn>
                                <v-spacer></v-spacer>

                                <v-btn
                                    text
                                    @click="cancel"
                                >
                                    Відмінити
                                </v-btn>
                            </div>
                        </v-stepper-content>
<!--                        Notes end-->
                    </v-stepper-items>
                </template>
            </v-stepper>

        </v-dialog>

        <v-snackbar
            v-model="snackbar"
        >
            {{ snackbarText }}
            <v-btn
                color="pink"
                text
                @click="snackbar = false"
            >
                Закрити
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import axios from "axios";
    const baseUrl = 'http://mentor/';
    export default {
        name: "SituationReport1",
        props: {
            shift: {
                type: Object
            },
            updating: {
                type: Boolean
            },
            reportToUpdate: {
                type: Object
            },
            email: {
                type: String
            }
        },
        data () {
            return {
                snackbar: false,
                snackbarText: false,
                dialog: false,
                stepperWindow: 1,
                situation: '',
                fabula: '',
                algorithm: '',
                competencies: [],
                notes: '',
                // cc: [
                //     //АДМІНІСТРАТИВНІ ПРАВОПОРУШЕННЯ
                //     'Дрібні адміністративні правопорушення',
                //     'Бійка в публічному місці',
                //     'Масові заворушення та охорона публічного порядку',
                //     'Порушення правил дорожнього руху',
                //     'Керування транспортним засобом в стані сп’яніння',
                //     'Дорожньо-транспортна пригода без потерпілих',
                //     //ЗЛОЧИНИ
                //     'Грабіж/розбій/крадіжка',
                //     'Злочин проти життя та здоров’я особи',
                //     'Вуличний злочин',
                //     'Дорожньо-транспортна пригода з потерпілими',
                //     //ДОМАШНЄ НАСИЛЬСТВО
                //     'Домашнє насильство',
                //     //ПРЕВЕНЦІЯ
                //     'Несення служби в публічному місці',
                //     'Регулювання дорожнього руху'
                // ],
                // competenciesList: [
                //     'тактика',
                //     'комунікація',
                //     'законодавство',
                //     'документування',
                //     'етика та службова дисципліна',
                //     'управління стресом',
                //     'спеціальні знання та засоби',
                //     'модель застосування сили',
                //     'безпека дорожнього руху',
                //     'дії на місці події',
                //     'взаємодія з насленням',
                // ],
                childUpdating: false
            }
        },
        methods: {
            cancel() {
                this.dialog = false;
                this.childUpdating = false;
                this.clearReportData();
                this.$emit('watchUpdating', this.childUpdating);
            },
            saveReport () {
                this.$http.post(baseUrl + 'api/store-situation-report', {
                    reportEditId: null,
                    situation: this.situation,
                    fabula: this.fabula,
                    algorithm: this.algorithm,
                    competencies: this.competencies,
                    notes: this.notes,
                    email: this.email,
                    stage: this.shift.stage_num,
                    shift: this.shift.shift_num
                }).then((response) => {
                    this.snackbar = true;
                    if ( response.data.success ) {
                        this.snackbarText = 'Ситуаційний звіт збережено';
                        this.dialog = false;
                        this.updateFreshReportsList(response.data.success);
                        this.clearReportData();
                    } else {
                        this.snackbarText = 'Сталася помилка! ' + response.data.error;
                    }

                });
            },
            formatCompetencies(competencies) {
                if (typeof competencies === 'string'){
                    let compArr = competencies.split(',');
                    let comps = [];
                    compArr.forEach(e => {
                        if (Number.isInteger(e)) {
                            comps.push(e);
                        } else {
                            comps.push(parseInt(e));
                        }
                    });
                    return comps ;
                } else if (Array.isArray(competencies)) {
                    return competencies.join('\n').split(',');
                }
            },
            formatStringData(data) {
                if (typeof data === 'string') {
                    return data;
                } else if (Array.isArray(data)) {
                    return data.join('\n')
                }
            },
            inArray(arr) {
                return function(x) {
                    return arr.includes(x.id);
                };
            },
            setDataToUpdate() {
                this.reportEditId = this.reportToUpdate.id;
                // this.situation = this.formatStringData(this.reportToUpdate.situation);
                this.situation = this.situationsList.find( (e) => {
                    return e.id == this.reportToUpdate.situation;
                }).id;
                this.fabula = this.formatStringData(this.reportToUpdate.fabula);
                this.algorithm = this.formatStringData(this.reportToUpdate.algorithm);
                this.competencies = this.formatCompetencies(this.reportToUpdate.competencies);
            /*    this.competencies = this.reportToUpdate.competencies.split(',');
                this.competencies = this.competenciesList.filter(this.inArray(this.reportToUpdate.competencies));
                this.competencies = this.competenciesList.filter( e => {
                    // console.log(e);
                    // console.log(this);
                    let asdf = this.reportToUpdate.competencies.split(',');
                    let dfdfdf = asdf.forEach(asd => {
                        if (asd == e.id){
                            return e.id;
                        }
                    })
                    return dfdfdf;

                    // return function(x) {
                    //     console.log(x);

                    // };
                    // return e;
                    // e.id == this.reportToUpdate.competencies.split(',');
                });*/
                this.notes = this.formatStringData(this.reportToUpdate.notes);
                // console.log(this.reportToUpdate.competencies);
                // console.log(this.competencies);
            },
            clearReportData() {
                this.reportEditId = null;
                this.situation = '';
                this.fabula = '';
                this.algorithm = '';
                this.competencies = [];
                this.notes = '';
                this.stepperWindow = 1;
            },
            updateReport () {
                if (this.updating) {
                    this.$http.put(baseUrl + 'api/update-situation-report', {
                        id: this.reportEditId,
                        situation: this.situation,
                        fabula: this.fabula,
                        algorithm: this.algorithm,
                        competencies: this.competencies,
                        notes: this.notes,
                    }).then((response) => {
                        this.snackbar = true;
                        if ( response.data.success ) {
                            this.snackbarText = 'Ситуаційний звіт оновлено';
                            this.updateReportVuex(response.data.success);
                            //need to close popup so call cancel method
                            this.cancel();
                        } else {
                            this.snackbarText = 'Сталася помилка! ' + response.data.error;
                        }
                    });
                }
            },
            updateReportVuex (data) {
                return this.$store.dispatch('updateReport', data)
            },
            updateFreshReportsList (data) {
                return this.$store.dispatch('updateFreshReportsList', data)
            }
        },
        watch: {
            updating: function(newVal, oldVal) { // watch it
                this.childUpdating = newVal;
                if (newVal) {
                    this.dialog = true;
                    this.setDataToUpdate();
                } else {
                    this.dialog = false;
                    this.clearReportData();
                }
                return this.dialog;
            }
        },
        computed: {
            getFreshReportsList() {
                return this.$store.getters.getFreshReportsList;
            },
            competenciesList() {
                return this.$store.getters.getCompetenciesList;
            },
            situationsList() {
                return this.$store.getters.getSituationsList;
            }
        },
        created() {
            // console.log(this.shift);
            //TODO:: change this to normal global parameter
            let token = $cookies.get('accesstoken');

            //auth info
            axios.defaults.headers.common['Content-Type'] = 'application/json';
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + token;
        }
    }
</script>

<style scoped>

</style>
