<template>
    <div>
        <v-dialog v-model="dialog" max-width="700">
            <template v-slot:activator="{ on }">
                    <v-icon
                        v-on="on"
                        small
                        class="mr-2"
                    >
                        remove_red_eye
                    </v-icon>
            </template>
            <v-card
                class="d-flex flex-column"
            >
                <v-card-title
                    class="headline justify-center"
                >
                    Ситуаційний звіт стажера
                </v-card-title>
                <v-card-text
                    class="subtitle-2"
                >Дата патрулювання {{shift.started_at.substring(0, 10)}}</v-card-text>
                <v-card-text
                    class="subtitle-2"
                >Звіт створено {{report.created_at}}</v-card-text>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Службова ситуація</v-card-title>
                    <v-card-text v-html="report.situation"></v-card-text>
                </div>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Опис ситуації/Фабула</v-card-title>
                    <v-card-text v-html="report.fabula"></v-card-text>
                </div>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Алгоритм дій наставника</v-card-title>
                    <v-card-text v-html="report.algorithm"></v-card-text>
                </div>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Ключові компетенції</v-card-title>
                    <v-card-text v-html="report.competencies"></v-card-text>
                </div>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Нотатки стажера</v-card-title>
                    <v-card-text v-html="report.notes"></v-card-text>
                </div>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Рекомендації для стажера</v-card-title>
                    <v-card-text v-html="report.recommendations"></v-card-text>
                </div>

                <v-card-text>Оцінка дій стажера {{report.rating}}</v-card-text>
                <v-card-actions>
                    <v-btn  @click="viewPdf" target="_blank">Download PDF</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="dialog = false">Закрити</v-btn>

                    <!-- <a href="http://mentor/customer/print-pdf" >asdfasdf</a> -->

                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: "SituationReport1View",
        props: {
            report: {
                type: Object
            },
            shift: {
                type: Object
            },
        },
        data () {
            return {
                dialog: false,
            }
        },
        methods: {
            viewPdf() {
                axios.get('http://mentor/customer/print-pdf', {
                    params: {
                        user: this.report.user_id,
                        reportId: this.report.id
                    }
                }).then((r)=>{
                    console.log(r)
                });
                console.log(this.report.user_id);
            },
        }
    }
</script>

<style scoped>

</style>
