<template>
    <v-container fluid>
        <div v-if="isLoggedIn">
            <v-row
                class="d-flex align-stretch"
            >
                <v-col
                    cols="12"
                    md="4"
                    sm="6"
                >
                    <v-card
                        class="my-2"
                        min-width="270"
                        height="100%"
                        style="white-space: normal"
                    >
                        <v-card-title>
                            {{ userData.name }}
                        </v-card-title>
                        <v-card-subtitle>
                            {{ userData.email }}
                        </v-card-subtitle>

                        <v-list>
                            <v-list-item
                                v-if="Object.keys(partner).length === 0 && partner.constructor === Object  || partner.id === null"
                            >
                                У Вас поки що немає стажера. Зачекайте або попросіть адміністратора сформувати екіпаж.
                            </v-list-item>
                            <v-list-item
                                v-else
                            >
                                <v-list-item-content>
                                    <v-list-item-title>Стажер: {{ partner.name }}</v-list-item-title>
                                    <v-list-item-subtitle>{{ partner.email }}</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card>

                </v-col>
                <v-col cols="12"
                       md="4"
                       sm="6"
                >
                    <v-card
                        class="my-2"
                        min-width="270"
                        height="100%"
                        v-if="Object.keys(partner).length !== 0 && partner.constructor === Object"
                    >

                        <v-row
                            v-if="shift.finished_at"
                        >
                            <v-col>
                                <v-card-title>Зміна №{{shift.shift_num}} закінчена <br>{{shift.finished_at}}</v-card-title>
                            </v-col>
                        </v-row>

                        <v-row
                            v-else-if="shift.request_finish"
                        >
                            <v-col>
                                <v-card-text>
                                    Стажер запросив кінець зміни. Якщо Ви погоджуєтесь, натисніть кнопку.
                                    <br><span class="font-weight-bold">Увага!</span> Продивіться всі звіти ще раз перед тим як закінчити зміну. Після закінчення зміни редагувати звіти буде неможливо
                                </v-card-text>
                                <v-card-actions>
<!--                                    <v-btn-->
<!--                                        @click="finishShift"-->
<!--                                    >-->
<!--                                        Закінчити зміну-->
<!--                                    </v-btn>-->

                                    <v-dialog v-model="startShiftDialog" persistent max-width="500">
                                        <template v-slot:activator="{ on: endShiftDialog }">
                                            <v-tooltip
                                                v-if="!allCheckedReports"
                                                right
                                            >
                                                <template #activator="{ on: tooltip }">
                                                    <div
                                                        style="display: inline-block"
                                                        v-on="{ ...tooltip }"
                                                    >
                                                        <v-btn v-on="{ ...endShiftDialog }"
                                                               disabled
                                                        >
                                                            Закінчити зміну
                                                        </v-btn>
                                                    </div>
                                                </template>
                                                <span>У Вас залишились непроглянуті звіти</span>
                                            </v-tooltip>
                                            <v-tooltip
                                                v-else
                                                disabled
                                            >
                                                <template #activator="{ on: tooltip }">
                                                    <div
                                                        style="display: inline-block"
                                                        v-on="{ ...tooltip }"
                                                    >
                                                        <v-btn v-on="{ ...endShiftDialog }">
                                                            Закінчити зміну
                                                        </v-btn>
                                                    </div>
                                                </template>
                                                <span>asdfas</span>

                                            </v-tooltip>
<!--                                            <v-btn-->
<!--                                                v-else-->
<!--                                                v-on="{ ...endShiftDialog }"-->
<!--                                            >-->
<!--                                                Закінчити зміну-->
<!--                                            </v-btn>-->

                                        </template>
                                        <v-card>
                                            <v-card-title class="headline" style="word-break: break-word">Ви впевнені, що хочете закінчити зміну?</v-card-title>
                                            <v-card-text>Продивіться всі звіти ще раз перед тим як закінчити зміну.
                                                Після закінчення зміни редагувати звіти буде неможливо</v-card-text>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="green darken-1" text @click="startShiftDialog = false">Відміна</v-btn>
                                                <v-btn color="green darken-1" text @click="finishShift">Закінчити</v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </v-card-actions>

                            </v-col>
                        </v-row>

                        <v-row
                            v-else-if="shift.started_at"
                        >
                            <v-col>
                                <v-card-title>
                                    Зміна: {{shift.shift_num}} Етап: {{shift.stage_num}}
                                </v-card-title>
                                <v-card-subtitle>
                                    Розпочато {{ shift.started_at }}
                                </v-card-subtitle>
                            </v-col>
                        </v-row>

                        <v-row
                            v-else-if="shift.request_start"
                        >
                            <v-col>
                                <v-card-text>
                                    Стажер запросив початок зміни. Якщо Ви погоджуєтесь, натисніть кнопку
                                </v-card-text>
                                <v-card-actions>
<!--                                    <v-btn-->
<!--                                        @click="confirmShift"-->
<!--                                    >-->
<!--                                        Розпочати зміну-->
<!--                                    </v-btn>-->

                                    <v-dialog v-model="startShiftDialog" persistent max-width="500">
                                        <template v-slot:activator="{ on }">
                                            <v-btn v-on="on">Розпочати зміну</v-btn>
                                        </template>
                                        <v-card>
                                            <v-card-title class="headline" style="word-break: break-word">Ви впевнені, що хочете розпочати зміну?</v-card-title>
<!--                                            <v-card-text>Продивіться всі звіти ще раз перед тим як закінчити зміну.-->
<!--                                                Після закінчення зміни редагувати звіти буде неможливо</v-card-text>-->
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="green darken-1" text @click="startShiftDialog = false">Відміна</v-btn>
                                                <v-btn color="green darken-1" text @click="confirmShift">Розпочати</v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </v-card-actions>
                            </v-col>
                        </v-row>

                        <v-row
                            v-else
                        >
                            <v-col>
                                <v-card-text>
                                    Зачекайте поки стажер запросить початок зміни
                                </v-card-text>
                            </v-col>
                        </v-row>

                    </v-card>
                </v-col>
                <v-snackbar
                    v-model="shiftSnackbar"
                >
                    {{ shiftSnackbarText }}
                    <v-btn
                        color="pink"
                        text
                        @click="shiftSnackbar = false"
                    >
                        Закрити
                    </v-btn>
                </v-snackbar>
                <v-col
                    md="4"
                >
                    <stage-report
                        v-if="(shift.stage_num === 1 && shift.shift_num >=3) ||
                             (shift.stage_num === 2 && shift.shift_num >=12) ||
                             (shift.stage_num === 3 && shift.shift_num >=15)"
                    ></stage-report>
                    <shift-report
                        v-if="shift.stage_num === 2"
                    ></shift-report>
                    <shift-report-third
                        v-if="shift.stage_num === 3"
                    ></shift-report-third>
                    <final-report
                        v-if="(shift.stage_num === 3 && shift.shift_num >=13)"
                    ></final-report>
                </v-col>

            </v-row>

            <v-row
                v-if="countItems(freshReportsList) > 0 && shift.started_at"
            >
                <v-col
                    cols="12"
                >
                    <v-simple-table height="300px"
                                    fixed-header
                    >
                        <template v-slot:default>
                            <thead>
                            <tr>
                                <th class="text-left">#</th>
                                <th class="text-left">Ситуація</th>
                                <th class="text-left">Створено</th>
                                <th class="text-left"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr
                                v-if="!partnerReports || partnerReports.length === 0"
                            >
                                <td>Тут будуть відображатись звіти стажера. Не забудьте перечитати, написати рекомендацію та поставити оцінку</td>
                            </tr>
                            <tr
                                v-else
                                v-for="(item, index) in freshReportsList"
                                :key="item.id"
                            >
                                <td>{{ index + 1 }}
                                    <v-icon
                                        v-if="item.recommendations"
                                        right
                                        class="green--text text--lighten-3">
                                        mdi-eye
                                    </v-icon>
                                    <v-icon
                                        v-else
                                        right
                                        class="deep-orange--text text--lighten-3">
                                        mdi-eye
                                    </v-icon>
                                </td>
                                <td>{{ item.situation_name }}</td>
                                <td>{{ item.created_at }}</td>
                                <td>
                                    <situation-report
                                        :reportId="item.id"
                                        :shift="shift"
                                    >

                                    </situation-report>
                                </td>
                            </tr>
                            </tbody>
                        </template>
                    </v-simple-table>

                    <div>
                        <v-icon
                            right
                            class="green--text text--lighten-3">
                            mdi-eye
                        </v-icon> - <span class="body-2">Рекомендація написана</span>
                    </div>
                    <div>
                        <v-icon
                            right
                            class="deep-orange--text text--lighten-3">
                            mdi-eye
                        </v-icon> - <span class="body-2">Рекомендація не написана</span>
                    </div>


                </v-col>
            </v-row>




        </div>

        <Login v-else></Login>
    </v-container>
</template>

<script>
    import Login from '@/js/views/Login';
    import SituationReport from '@/js/modules/mentor/components/SituationReport1';
    import StageReport from '@/js/modules/mentor/components/StageReport1';
    import ShiftReport from '@/js/modules/mentor/components/ShiftReport';
    import ShiftReportThird from '@/js/modules/mentor/components/ShiftReport3';
    import FinalReport from '@/js/modules/mentor/components/FinalReport';
    import axios from 'axios';
    export default {
        name: "Home",
        components: { Login, SituationReport, StageReport, ShiftReport, ShiftReportThird, FinalReport },
        props: {
            isLoggedIn: {
                type: String
            },
            userData: {
                type: Object
            },
            role: {
                type: Object
            },
            // partner: {
            //     type: Object
            // },
            // shift: {
            //     type: Object
            // },
            // reportsList: {
            //     type: Object | Array
            // },
            // partnerReports: {
            //     type: Object | Array
            // },
            // freshReportsList: {
            //     type: Array
            // }
        },
        data () {
            return {
                // isLoggedIn: null,
                // mentorDialog: false,
                shiftSnackbar: false,
                shiftSnackbarText: false,
                startShiftDialog: false,
                reportEditId: '',
                situation: '',
                mentorReport: {
                    id: '',
                    situation: '',
                    fabula: '',
                    algorithm: '',
                    competencies: '',
                    notes: '',
                    created_at: '',
                    recommendations: ''
                },
            };
        },
        watch: {
        },
        methods: {

            confirmShift () {
                let trainee_id;
                if (this.role.slug === 'mentor') {
                    trainee_id = this.partner.id;
                } else if (this.role.slug === 'trainee') {
                    trainee_id = this.userData.id;
                }
                axios.put('api/confirm-new-shift', {
                    trainee_id: trainee_id,
                    user_role: this.role.slug
                }).then((response) => {

                    if (response.data.success)
                    {
                        this.shift.started_at = response.data.success.mentor_start;
                        this.shift.finished_at = response.data.success.mentor_finish;
                        this.shift.shift_num = response.data.success.shift;
                        this.shift.stage_num = response.data.success.stage;
                        this.shift.request_start = response.data.success.trainee_start;
                        this.shift.request_finish = response.data.success.trainee_finish;

                        this.startShiftDialog = false;
                        this.shiftSnackbar = true;
                        this.shiftSnackbarText = 'Зміну розпочато';
                    } else if (response.data.error) {
                        this.shiftSnackbar = true;
                        this.shiftSnackbarText = 'Сталась помилка: ' + response.data.error.message;
                    } else {
                        this.shiftSnackbar = true;
                        this.shiftSnackbarText = 'Сталась непередбачувана помилка';
                    }
                }).then(()=>{
                    this.startShiftDialog = false
                    // localStorage.setItem('stage', this.stage);
                    // localStorage.setItem('shift', this.shift);
                });
            },
            finishShift () {
                let trainee_id;
                if (this.role.slug === 'mentor') {
                    trainee_id = this.partner.id;
                } else if (this.role.slug === 'trainee') {
                    trainee_id = this.userData.id;
                }
                // console.log(this.shift.shift_num);
                // console.log(this.shift.stage_num);
                axios.put('api/finish-shift', {
                    trainee_id: trainee_id,
                    current_shift: this.shift.shift_num,
                    current_stage: this.shift.stage_num,
                    user_role: this.role.slug
                }).then((response) => {
                    console.log(response);
                    if (response.data.success)
                    {
                        this.shift.started_at = response.data.success.mentor_start;
                        this.shift.finished_at = response.data.success.mentor_finish;
                        this.shift.shift_num = response.data.success.shift;
                        this.shift.stage_num = response.data.success.stage;
                        this.shift.request_start = response.data.success.trainee_start;
                        this.shift.request_finish = response.data.success.trainee_finish;

                        this.startShiftDialog = false;
                        this.shiftSnackbar = true;
                        this.shiftSnackbarText = 'Зміну закінчено';
                    } else if (response.data.error) {
                        this.shiftSnackbar = true;
                        this.shiftSnackbarText = 'Сталась помилка: ' + response.data.error.message;
                    } else {
                        this.shiftSnackbar = true;
                        this.shiftSnackbarText = 'Сталась непередбачувана помилка';
                    }
                    // this.partner = response.data.partner
                });
            },
            countItems (data) {
                //data should be array
                if (Array.isArray(data)) {
                    return data.length;
                } else {
                    return 0;
                }
            },
        },
        computed: {
            // getFreshReportsList() {
            //     return this.$store.getters.getFreshReportsList;
            // },
            freshReportsList() {
                return this.$store.getters.getFreshReportsList;
            },
            allCheckedReports () {
                let freshReports = this.freshReportsList;
                let allChecked = freshReports.find(el => {
                    if (!el.recommendations){
                        return el;
                    }
                });
                if (!allChecked) {
                    allChecked = true;
                } else {
                    allChecked = false;
                }
                return allChecked;
            },
            partner() {
                return this.$store.getters.getPartner
            },
            shift() {
                return this.$store.getters.getShift;
            },
            reportsList() {
                return this.$store.getters.getReportsList;
            },
            partnerReports() {
                return this.$store.getters.getPartnerReports;
            }
        },
        mounted(){
            // this.listSituationsReports();
            // console.log(this.userData);
            // this.isLoggedIn = localStorage.getItem('jwt');
            this.name = localStorage.getItem('user');
            // console.log(this.isLoggedIn);

            if (this.isLoggedIn === null) {
                // this.$router.go('/login')
            }
        },
        beforeMount() {
            if (this.isLoggedIn === null) {
                // this.$router.go('/login')
            }
        },
        beforeCreate(){
        },
    }
</script>

<style scoped>

</style>
