<template>
    <v-container>
        <v-tabs
            show-arrows
        >
            <v-tab>
                Ситуаційні звіти
            </v-tab>
            <v-tab>
                Етапні звіти
            </v-tab>
            <v-tab>
                Щоденні звіти стажера
            </v-tab>
            <v-tab>
                Щоденні звіти
            </v-tab>
            <v-tab-item>
                <v-data-table
                    :headers="situationsHeaders"
                    :items="allSituationsReports"
                    multi-sort
                    :items-per-page="itemsPerPage"
                    class="elevation-1"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">

                        </v-toolbar>
                    </template>
                    <template v-slot:item.action="{ item }">
                        <situation-report-view
                            ref="content"
                            class="my-2"
                            :report="item"
                            :shift="shift"
                        ></situation-report-view>

<!--                        <v-icon-->
<!--                            v-if="item.shift === shift.shift_num && item.stage === shift.stage_num"-->
<!--                            small-->
<!--                            class="mr-2"-->
<!--                            @click="editItem(item)"-->
<!--                        >-->
<!--                            edit-->
<!--                        </v-icon>-->
                    </template>


                </v-data-table>
            </v-tab-item>

            <v-tab-item>
                <v-data-table
                    :headers="stageHeaders"
                    :items="stageReports"
                    multi-sort
                    :items-per-page="itemsPerPage"
                    class="elevation-1"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">

                        </v-toolbar>
                    </template>
                    <template v-slot:item.action="{ item }">
                        <stage-report-view
                            ref="content"
                            class="my-2"
                            :report="item"
                        ></stage-report-view>
                    </template>


                </v-data-table>
            </v-tab-item>

            <v-tab-item>
                Щоденні звіти стажера
            </v-tab-item>
            <v-tab-item>
                Щоденні звіти
            </v-tab-item>
        </v-tabs>

    </v-container>
</template>

<script>
    import situationReportView from '../components/SituationReportView'
    import stageReportView from '../components/StageReportView'

    export default {
        name: "Reports",
        components: {situationReportView, stageReportView},
        data () {
            return {
                updating: false,
                itemsPerPage: 10,
                situationsHeaders: [
                    { text: 'id', value: 'id' },
                    {
                        text: 'Службова ситуація',
                        align: 'start',
                        // sortable: false,
                        value: 'situation_name',
                    },
                    { text: 'Зміна', value: 'shift' },
                    { text: 'Етап', value: 'stage' },
                    { text: 'Створено', value: 'created_at' },
                    { text: 'Редаговано', value: 'updated_at' },
                    { text: 'Actions', value: 'action', sortable: false },
                ],
                stageHeaders: [
                    { text: 'id', value: 'id' },
                    {
                        text: 'Номер етапу',
                        align: 'start',
                        // sortable: false,
                        value: 'stage',
                    },
                    { text: 'Етап розпочато', value: 'started_at' },
                    { text: 'Етап закінчено', value: 'finished_at' },
                    { text: 'Створено', value: 'created_at' },
                    { text: 'Редаговано', value: 'updated_at' },
                    { text: 'Actions', value: 'action', sortable: false },
                ],
            }
        },
        computed: {
            userData() {
                return this.$store.getters.getUserData;
            },
            allSituationsReports() {
                return this.$store.getters.getReportsList;
            },
            stageReports() {
                return this.$store.getters.getStageReports;
            },
            shift() {
                return this.$store.getters.getShift;
            },
        }
    }
</script>

<style scoped>

</style>
