<template>
    <nav>
        <v-app-bar text>
            <v-app-bar-nav-icon class="grey--text" @click="drawer = !drawer" v-if="isLoggedIn"></v-app-bar-nav-icon>
            <div
                v-if="!role.name"
                style="overflow: hidden; width: 100px"
            >
                <v-skeleton-loader
                    style="width: 200%"
                    color="grey"
                    type="heading"
                >
                </v-skeleton-loader>
            </div>
            <v-toolbar-title
                v-else
                class="text-uppercase grey--text"
            >
                <span>{{role.name}}</span>
            </v-toolbar-title>
            <v-toolbar-title class="ml-4" v-if="windowWidth > 790">
                <v-card-title> {{ String(date.getDate()).padStart(2, '0') }} - {{ String(date.getMonth() + 1).padStart(2, '0') }} - {{ date.getFullYear() }}</v-card-title>
            </v-toolbar-title>
                <div class="ml-4" v-if="windowWidth > 790">

                    <v-card-title
                        v-if="shift.started_at"
                    >
                        Зміна: {{shift.shift_num}}
                    </v-card-title>
                    <div
                        v-else-if="typeof shift.started_at !== 'undefined'"
                        style="overflow: hidden; width: 100px"
                    >
                        <v-skeleton-loader
                            style="width: 200%"
                            color="grey"
                            type="heading"
                        >
                        </v-skeleton-loader>
                    </div>

                </div>

                <div class="ml-4" v-if="windowWidth > 790">

                    <div
                        v-if="!shift.started_at"
                        style="overflow: hidden; width: 100px"
                    >
                        <v-skeleton-loader
                            style="width: 200%"
                            color="grey"
                            type="heading"
                        >
                        </v-skeleton-loader>
                    </div>
                    <v-card-title v-else>Етап: {{shift.stage_num}}</v-card-title>
                </div>
            <v-spacer></v-spacer>

            <v-btn text color="black" router to="/login" v-if="!isLoggedIn">
                <span>Sign in</span>
            </v-btn>
            <v-btn text color="black" router to="/register" v-if="!isLoggedIn">
                <span>Register</span>
            </v-btn>
            <v-btn text color="grey" @click="logout" v-if="isLoggedIn">
                <span>Вийти<v-icon right>exit_to_app</v-icon></span>
            </v-btn>
        </v-app-bar>
        <v-navigation-drawer absolute temporary v-model="drawer">
            <v-list-item>
                <v-list-item-avatar>
                    <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title>{{userData.name}}</v-list-item-title>
                    <v-list-item-subtitle>{{userData.email}}</v-list-item-subtitle>
                </v-list-item-content>


            </v-list-item>

            <v-list v-if="shift.started_at && typeof shift.started_at !== 'undefined'">
                <v-list-item>

                    <v-list-item-title>Зміна: {{shift.shift_num}}</v-list-item-title>

                </v-list-item>

                <v-list-item>

                    <v-list-item-title>Етап: {{shift.stage_num}}</v-list-item-title>
                </v-list-item>
            </v-list>
            <v-divider></v-divider>

            <v-list dense>

                <v-list-item
                    v-for="link in links"
                    :key="link.name"
                    link
                    router :to="{path: link.path}"
                >
                    <v-list-item-icon>
                        <v-icon>{{link.icon}}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ link.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </nav>
</template>

<script>
    import axios from 'axios'
    const baseUrl = 'http://mentor/';
    export default {
        name: "Navbar",
        props: {
            isLoggedIn: {
                type: String
            },
            userData: {
                type: Object
            },
            role: {
                type: Object
            },
            shift: {
                type: Object
            }
        },
        data () {
            return {
                drawer: false,
                links: this.$router.options.routes.length > 0 ? this.$router.options.routes.splice(1) :  [{icon: 'dashboard', title: 'Робочий стіл', path: '/'}],
                //     [
                //     {icon: 'dashboard', title: 'Робочий стіл', path: '/'},
                //     {icon: 'mdi-account-card-details-outline', text: 'Ментор', path: 'trainee/mentor-info'},
                //     {icon: 'mdi-file-document-outline', text: 'Звіти', path: 'trainee/reports'},
                //     {icon: 'mdi-eye-outline', text: 'Як користуватись', path: 'trainee/how-to'},
                // ],
                date: new Date(),
                windowWidth: window.innerWidth,
            };
        },
        watch: {
            windowWidth () {

            }
        },
        methods: {
            signOut () {
                this.$emit('signOut', null);
            },
            logout () {

                axios.post(baseUrl + 'logout').then(success => {
                    console.log(success);
                    $cookies.remove('accesstoken');
                    this.isLoggedIn = null;
                    document.location.href = 'login';
                });
            },
            test () {
                // console.log(this.userData)
            }
        },
        mounted(){
            this.test();
            // this.isLoggedIn = localStorage.getItem('jwt')
            // this.name = localStorage.getItem('user');
            this.$nextTick(() => {
                window.addEventListener('resize', () => {
                    this.windowWidth = window.innerWidth;
                })
            });
        }
    }
</script>

<style scoped>

</style>
