<template>
    <nav>
        <v-toolbar>

                <v-toolbar-title>
                    <v-btn text color="black" href="/">
                    welcome to mentors
                    </v-btn>

                </v-toolbar-title>


            <v-spacer></v-spacer>

            <v-btn text color="black" href="/login">
                <span>Увійти</span>
            </v-btn>
            <v-btn text color="black" href="/register">
                <span>Зареєструватись</span>
            </v-btn>
        </v-toolbar>
    </nav>
</template>

<script>
    export default {
        name: "NavbarNotLoggedIn"
    }
</script>

<style scoped>

</style>
