<template>
    <v-container fluid>
        <div v-if="isLoggedIn">
            <v-row
                class="d-flex align-stretch"
            >
                <v-col
                    cols="12"
                    md="4"
                    sm="6"
                >
                    <v-card
                        class="my-2"
                        min-width="270"
                        height="100%"
                        style="white-space: normal"
                    >
                        <v-card-title>
                            {{ userData.name }}
                        </v-card-title>
                        <v-card-subtitle>
                            {{ userData.email }}
                        </v-card-subtitle>

                        <v-list>
                            <v-list-item
                                v-if="Object.keys(partner).length === 0 && partner.constructor === Object || partner.id === null"
                            >
                                У Вас немає поки що наставника. Почекайте, або попросіть адміністратора пришвидшити процес.
                            </v-list-item>
                            <v-list-item
                                v-else
                            >
                                <v-list-item-content>
                                    <v-list-item-title>Ментор: {{ partner.name }}</v-list-item-title>
                                    <v-list-item-subtitle>{{ partner.email }}</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card>

                </v-col>
                <v-col cols="12"
                       md="4"
                       sm="6"
                >
                    <v-card
                        class="my-2"
                        min-width="270"
                        height="100%"
                        v-if="Object.keys(partner).length !== 0 && partner.constructor === Object && partner.id !== null"
                    >
                        <v-row
                            v-if="shift.finished_at"
                        >
                            <v-col>
                                <v-card-title>Зміна №{{shift.shift_num}} закінчена <br>{{shift.finished_at}}</v-card-title>
                                <v-card-actions>
                                    <v-dialog v-model="startShiftDialog" persistent max-width="500">
                                        <template v-slot:activator="{ on }">
                                            <v-btn v-on="on">Запросити початок зміни</v-btn>
                                        </template>
                                        <v-card>
                                            <v-card-title class="headline" style="word-break: break-word">Ви впевнені, що хочете розпочати зміну?</v-card-title>
                                            <v-card-text>Зміна розпочнеться як тільки
                                                Ваш наставник підтвердить Ваш запит</v-card-text>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="green darken-1" text @click="startShiftDialog = false">Відміна</v-btn>
                                                <v-btn color="green darken-1" text @click="startShift">Розпочати</v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </v-card-actions>
                            </v-col>
                        </v-row>

                        <v-row
                            v-else-if="shift.request_finish"
                        >
                            <v-col>
                                <v-card-text>
                                    Ви запросили кінець зміни
                                </v-card-text>
                            </v-col>
                        </v-row>

                        <v-row
                            v-else-if="shift.started_at"
                        >
                            <v-col>
                                <v-card-title>
                                    Зміна: {{shift.shift_num}} Етап: {{shift.stage_num}}
                                </v-card-title>
                                <v-card-subtitle>
                                    Розпочато {{ shift.started_at }}
                                </v-card-subtitle>

                                <v-card-text
                                    v-if="freshReportsList.length < 4"
                                >
                                    За зміну Вам потрібно написати щоякнайменше 4 звіта.
                                    Написано <span v-if="freshReportsList.length < 4" style="color: red;">{{ freshReportsList.length }}/4</span>
                                    <span v-else>{{ freshReportsList.length }}/4</span>.
                                    <b>Увага!</b>
                                    Зміна закінчиться через 24 години післяя її початку.
                                </v-card-text>
                                <v-card-text
                                    v-else
                                >
<!--                                    <v-btn-->
<!--                                        @click="finishShift"-->
<!--                                    >-->
<!--                                        Запросити кінець зміни-->
<!--                                    </v-btn>-->

                                    <v-dialog v-model="startShiftDialog" persistent max-width="500">
                                        <template v-slot:activator="{ on }">
                                            <v-btn v-on="on">Запросити кінець зміни</v-btn>
                                        </template>
                                        <v-card>
                                            <v-card-title class="headline" style="word-break: break-word">Ви впевнені, що хочете закінчити зміну?</v-card-title>
                                            <v-card-text>Зміна закінчиться як тільки
                                                Ваш наставник підтвердить Ваш запит</v-card-text>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="green darken-1" text @click="startShiftDialog = false">Відміна</v-btn>
                                                <v-btn color="green darken-1" text @click="finishShift">Закінчити</v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </v-card-text>

                            </v-col>
                        </v-row>

                        <v-row
                            v-else-if="shift.request_start"
                        >
                            <v-col>
                                <v-card-text>
                                    Ви запросили початок зміни. Зачекайте поки наставник погодиться
                                </v-card-text>
                            </v-col>
                        </v-row>
                        <v-row
                            v-else
                        >
                            <v-col>
                                <v-card-text>
                                    Щоб почати першу зміну першого етапу натисніть кнопку. Зміна розпочнеться як тільки
                                    Ваш наставник підтвердить Ваш запит
                                </v-card-text>
                                <v-card-actions>
                                    <v-dialog v-model="startShiftDialog" persistent max-width="500">
                                        <template
                                            #activator="{ on: startShiftDialog }"
                                        >
                                            <!--                                false, false-->
                                            <v-tooltip
                                                v-if="shift.request_start !== null"
                                                right
                                            >
                                                <template #activator="{ on: tooltip }">
                                                    <div
                                                        style="display: inline-block"
                                                        v-on="{ ...tooltip }"
                                                    >
                                                        <v-btn
                                                            v-on="{ ...startShiftDialog }"
                                                            disabled
                                                        >
                                                            Запросити початок зміни
                                                        </v-btn>
                                                    </div>
                                                </template>
                                                <span>ви не можете зараз запросити нову зміну</span>
                                            </v-tooltip>

                                            <v-tooltip
                                                v-else
                                                right
                                            >
                                                <template #activator="{ on: tooltip }">
                                                    <div
                                                        style="display: inline-block"
                                                        v-on="{ ...tooltip }"
                                                    >
                                                        <v-btn
                                                            color="green lighten-2"
                                                            dark
                                                            v-on="{ ...startShiftDialog }"
                                                        >
                                                            Запросити початок зміни
                                                        </v-btn>
                                                    </div>
                                                </template>
                                                <span>Натисніть, щоб запросити початок зміни</span>
                                            </v-tooltip>
                                        </template>

                                        <v-card>
                                            <v-card-title class="headline" style="word-break: break-word">Ви впевнені, що хочете розпочати зміну?</v-card-title>
                                            <v-card-text>Зміна розпочнеться як тільки
                                                Ваш наставник підтвердить Ваш запит</v-card-text>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="green darken-1" text @click="startShiftDialog = false">Відміна</v-btn>
                                                <v-btn color="green darken-1" text @click="startShift">Розпочати</v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </v-card-actions>
                            </v-col>
                        </v-row>
                    </v-card>
                </v-col>
            </v-row>
            <v-snackbar
                v-model="shiftSnackbar"
            >
                {{ shiftSnackbarText }}
                <v-btn
                    color="pink"
                    text
                    @click="shiftSnackbar = false"
                >
                    Закрити
                </v-btn>
            </v-snackbar>
            <!--daily statistic start-->
            <v-row>
                <v-col
                    cols="12"
                    md="5"
                    sm="6"
                    v-if="!shift.finished_at && shift.started_at"
                >
                    <div>
                        <situation-report
                            class="my-2"
                            :shift="shift"
                            :email="userData.email"
                            :updating="updating"
                            @watchUpdating="showDataFromReport($event)"
                            :reportToUpdate="reportToUpdate"
                        ></situation-report>


                        <v-sheet
                            height="225"
                            style="overflow-y: scroll"
                            v-if="countItems(freshReportsList) > 0 && shift.started_at"
                        >
                            <v-list dense>
                                <v-list-item
                                    v-for="report in freshReportsList"
                                    :key="report.id"
                                    link
                                    :id="report.id"
                                >
                                    <v-list-item-content>
                                        <v-list-item-title>{{ report.situation_name }}</v-list-item-title>
                                        <v-list-item-subtitle>{{ report.created_at }}</v-list-item-subtitle>
                                    </v-list-item-content>

                                    <v-list-item-icon
                                        v-if="!shift.request_finish"
                                    >
                                        <v-btn
                                            icon
                                            @click="fillReportFieldsToUpdate(report.id)"
                                        >
                                            <v-icon>edit</v-icon>

                                        </v-btn>
                                    </v-list-item-icon>
                                </v-list-item>
                            </v-list>
                        </v-sheet>
                        <v-list
                            v-else
                        >
                            <v-list-item>
                                Тут будуть відображатись Ваші звіти
                            </v-list-item>
                        </v-list>
                    </div>
                </v-col>
                <v-col
                    cols="12"
                    md="7"
                    sm="6"
                >
                    <daily-statistic
                        v-if="!shift.finished_at && shift.started_at"
                        :freshReportsList="freshReportsList"
                        :shift="shift"
                    ></daily-statistic>
                </v-col>
            </v-row>
            <!--daily statistic end-->
            <!--general statistic start-->
            <v-row>
                <v-col>
                    <general-statistic
                        v-if="!shift.finished_at && shift.started_at"
                        :reportsList="reportsList"
                        :shift="shift"
                    ></general-statistic>
                </v-col>
            </v-row>
            <!--general statistic start-->
        </div>

        <div v-else>
            <v-btn @click="test" href="auth/logout">test</v-btn>
        </div>

        <situation-report-2
            v-if="!shift.finished_at && shift.started_at"
        ></situation-report-2>
        <shift-report-3
            v-if="!shift.finished_at && shift.started_at"
        ></shift-report-3>
        <v-btn
        @click="addTodo">
            test
        </v-btn>
    </v-container>
</template>

<script>
    import Login from '@/js/views/Login';
    import SituationReport from '@/js/modules/trainee/components/SituationReport1';
    import SituationReport2 from '@/js/modules/trainee/components/reports/SituationReport2';
    import ShiftReport3 from '@/js/modules/trainee/components/reports/ShiftReport3';
    import DailyStatistic from '@/js/modules/trainee/components/DailyStatistic';
    import GeneralStatistic from '@/js/modules/trainee/components/GeneralStatistic';

    export default {
        name: "Home",
        components: {Login, SituationReport, DailyStatistic, GeneralStatistic, SituationReport2, ShiftReport3},
        props: {
            isLoggedIn: {
                type: String
            },
            userData: {
                type: Object
            },
            role: {
                type: Object
            },
            initialState: {
                type: Object
            },
        },
        data() {
            return {
                shiftSnackbar: false,
                shiftSnackbarText: false,
                startShiftDialog: false,
                updating: false,
                reportToUpdate: {},
            };
        },
        watch: {},
        methods: {
            test(){
                console.log($cookies.get('accesstoken'));
            },
            showDataFromReport (event) {
                this.updating = event;
                this.reportToUpdate = {};
            },
            fillReportFieldsToUpdate(e) {
                if (!e) {
                    return this.updating = false;
                }
                this.reportToUpdate = this.freshReportsList.find((el, index)=> {
                    return el.id === e;
                });
                this.reportToUpdateId = this.freshReportsList.find((el, index)=> {
                    return el.id === e;
                });
                this.updating = true;
                return;
                if (this.reportToUpdate.id === e) {
                    this.updating = true;
                    this.reportToUpdate = this.freshReportsList.find((el, index)=> {
                        return el.id === e;
                    });
                } else {
                    this.$http.post('api/show-situation-report', {
                        id: e,
                    }).then((response) => {
                        // console.log(response);

                        this.reportToUpdate = response.data.success;
                        this.updating = true;
                    });
                }
            },
            startShift() {
                let trainee_id;
                if (this.role.slug === 'trainee') {
                    trainee_id = this.userData.id;
                }
                this.$http.post('api/start-new-shift', {
                    trainee_id: trainee_id,
                    user_role: this.role.slug
                }).then((response) => {
                    if (response.data.success)
                    {
                        this.shift.started_at = response.data.success.mentor_start;
                        this.shift.finished_at = response.data.success.mentor_finish;
                        this.shift.shift_num = response.data.success.shift;
                        this.shift.stage_num = response.data.success.stage;
                        this.shift.request_start = response.data.success.trainee_start;
                        this.shift.request_finish = response.data.success.trainee_finish;

                        this.shiftSnackbar = true;
                        this.shiftSnackbarText = 'Запит на початок нової зміни надіслано';
                    } else if (response.data.error) {
                        this.shiftSnackbar = true;
                        this.shiftSnackbarText = 'Сталася помилка: ' + response.data.error;
                    } else {
                        this.shiftSnackbar = true;
                        this.shiftSnackbarText = 'Сталася непередбачувана помилка';
                    }
                }).then(() => {
                    this.startShiftDialog = false;
                });
            },
            finishShift() {
                this.$http.put('api/finish-shift', {
                    trainee_id: this.userData.id,
                    current_shift: this.shift.shift_num,
                    current_stage: this.shift.stage_num,
                    user_role: this.role.slug
                }).then((response) => {
                    // console.log(response);
                    if (response.data.success)
                    {
                        this.shift.started_at = response.data.success.mentor_start;
                        this.shift.finished_at = response.data.success.mentor_finish;
                        this.shift.shift_num = response.data.success.shift;
                        this.shift.stage_num = response.data.success.stage;
                        this.shift.request_start = response.data.success.trainee_start;
                        this.shift.request_finish = response.data.success.trainee_finish;

                        this.shiftSnackbar = true;
                        this.shiftSnackbarText = 'Запит на закінчення зміни надіслано';
                    } else if (response.data.error) {
                        this.shiftSnackbar = true;
                        this.shiftSnackbarText = 'Сталася помилка: ' + response.data.error.message;
                    } else {
                        this.shiftSnackbar = true;
                        this.shiftSnackbarText = 'Сталася непередбачувана помилка';
                    }
                }).then(()=>{
                    this.startShiftDialog = false;
                });
            },
            countItems(data) {
                //data should be array
                if (Array.isArray(data)) {
                    return data.length;
                } else {
                    return 0;
                }
            },
            makeSmth() {
                //тут я буду обновлять список репортов. но это метод "в лоб". Не поддерживает асинхронность
                return this.$store.commit('makeThms')
            },
            tryDispatch() {
                console.log(this.counted);
                return this.$store.dispatch('makeSmth', 5)
            },
            checkStorage() {
                // console.log(this.counted);
                return this.$store.dispatch('checkStorage')
            },
            addTodo() {
                // console.log(this.counted);
                return this.$store.dispatch('addTodo', ['todoss'])
            },
            saveTodos() {
                // console.log(this.counted);
                return this.$store.dispatch('saveTodos', ['todoss', 'afaf'])
            },
            // ...mapActions([
            //     'checkStorage',
            //     'saveTodos'
            // ])
        },
        computed: {
            //тут я буду получать данные репортов с vuex
            counted(){
                return this.$store.state;
            },
            //тут я хз что буду делать. Тут можно как то видоизменять данные для вывода на экран
            gottenData () {
                return this.$store.getters.getCount
            },
            // getFreshReportsList() {
            //     return this.$store.getters.getFreshReportsList;
            // },
            freshReportsList() {
                return this.$store.getters.getFreshReportsList;
            },
            partner() {
                return this.$store.getters.getPartner
            },
            shift() {
                return this.$store.getters.getShift;
            },
            reportsList() {
                return this.$store.getters.getReportsList;
            }
        },
        beforeCreate() {
            //auth info
            let token = $cookies.get('accesstoken');

            this.$http.defaults.headers.common['Content-Type'] = 'application/json';
            this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + token;
        },
        created() {},
        beforeMount() {
            if (this.isLoggedIn === null) {
                // this.$router.go('/login')
            }
        },
        mounted() {
            this.name = localStorage.getItem('user');

            if (this.isLoggedIn === null) {
                // this.$router.go('/login')
            }
            // console.log(this.counted);
            // console.log(this.$store);
            // console.log(this.freshReportsList);
            this.checkStorage();
            // this.addTodo();

        },
    }
</script>

<style scoped>

</style>
