<template>
    <v-container>
        <v-row>
            <v-col
                cols="12"
                md="8"
            >
                <h1>Як користуватися додатком</h1>
                <p>Як тільки Ви зареєструвались у додатку, адміністратор сайту отриає звістку про це і назначить для Вас
                    наставника, з яким Ви прцюватимите прогтягом наступних декількох місяців.</p>
                <p>Коли Ви знаєте вже свого наставника, Ви можете запросити початок зміни. Це означатиме що Ви готові розпочати зміну (попередньо домовившись з наставником), але сама зміна не розпочнеться допоки
                    наставник не підтвердить, що все готово для того на своїй сторінці.</p>
                <p><strong>Зміна вважається розпочатою коли наставник це підтвердив</strong>.</p>
                <p>Як тільки наставник підтвердив початок зміни, Ви можете розпочати патрулювання.</p>

                <p>За час патрулювання від Вас вимагається прийняти участь мінімум у 4 службових ситуаціях (далі СС) і написати 4 звіти. Це є обов'язковою умовою для закінчення зміни.</p>
                <p>Коли пройдено 4 СС, теоретично ви можете закінчити зміну, але рекомендовано спочатку домовитись про це з наставником. Оскільки <strong>після натискання на кнопку "Запросити кінець зміни" Ви
                    не матимите змоги писати нові або редагувати написані звіти</strong>.
                    Проте список звітів та статистику за зміну Ви ще матиме змогу продивитись.
                    Статистика за весь період буде доступною завжди.</p>
                <p>Після натискання на кнопку "Запросити кінець зміни" Ваш наставник побачить на своїй сторінці, що ви готові завершити зміну і підтвердить це як тільки завершить огляд Ваших звітів.
                </p>
                <p><strong>Зміна вважається закінченою коли наставник підтвердить кінець зміни</strong>.</p>
                <p></p>
                <v-expansion-panels focusable multiple hover>
                    <v-expansion-panel>
                        <v-expansion-panel-header>Як написати звіт</v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <p>Як тільки Ви розпочали зміну, для Вас стане доступно вікно для написання і перегляду звітів.</p>
                            <p>Натисніть кнопку "Написати звіт" і заповнюйте запропоновані поля.</p>
                            <p>Всі поля на кожному кроці є необхідними для заповнення (окрім нотаток), тому Ви не матимете змоги перейти до наступного кроку допоки не заповните поточний.</p>
                            <p>Коли Ви натисните на кнопку "Зберегти", Ви можете спостерігати у полі статистики, що конкретних звітів стало на 1 більше.</p>
                        </v-expansion-panel-content>
                    </v-expansion-panel>

                    <v-expansion-panel>
                        <v-expansion-panel-header>Як редагувати звіт</v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <p>У вікні перегляду звітів натисніть на іконку олівця і внесіть необхідні зміни.</p>
                            <p>Всі зміни збережуться після натискання на кнопку "Оновити" на останньому кроці.</p>
                        </v-expansion-panel-content>
                    </v-expansion-panel>

                </v-expansion-panels>
            </v-col>
        </v-row>

    </v-container>
</template>

<script>
    export default {
        name: "HowTo"
    }
</script>

<style scoped>

</style>
