<template>
    <v-container fluid>
        <div class="title">Інформація про вашого наставника</div>
        <v-row
            class="d-flex align-stretch"
        >
            <v-col
                cols="12"
                md="4"
                sm="6"
            >
                <v-card
                    class="my-2 py-2"
                    min-width="270"
                    height="100%"
                    style="white-space: normal"
                >
                    <v-card-text class="py-1">
                        Ім'я: {{ mentorName }}
                    </v-card-text>
                    <v-card-text class="py-1">
                        Email: {{ mentorEmail }}
                    </v-card-text>
                </v-card>

            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    const initialState = JSON.parse(window.__INITIAL_STATE__);
    export default {
        name: "Mentor",
        data () {
            return {
                mentorName: initialState.partner.name,
                mentorEmail: initialState.partner.email
            }
        }
    }
</script>

<style scoped>

</style>
