<template>
    <v-container>
        reports template

        <v-data-table
            :headers="headers"
            :items="allSituationsReports"
            multi-sort
            :items-per-page="itemsPerPage"
            class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar flat color="white">

                    <v-spacer></v-spacer>
                    <situation-report
                        class="my-2"
                        :shift="shift"
                        :email="userData.email"
                        :updating="updating"
                        v-on:showReport="editItem($event)"
                        :reportToUpdate="reportToUpdate"
                    ></situation-report>

                </v-toolbar>
            </template>
            <template v-slot:item.action="{ item }">
<!--                <v-icon-->
<!--                    small-->
<!--                    class="mr-2"-->
<!--                    @click="showReport(item)"-->
<!--                >-->
<!--                    remove_red_eye-->
<!--                </v-icon>-->

                <situation-report-view
                    ref="content"
                    class="my-2"
                    :report="item"
                    :shift="shift"
                ></situation-report-view>
<!--                <v-icon-->
<!--                    small-->
<!--                    class="mr-2"-->
<!--                    @click="toPdf(item)"-->
<!--                >-->
<!--                    picture_as_pdf-->
<!--                </v-icon>-->
                <v-icon
                    v-if="item.shift === shift.shift_num && item.stage === shift.stage_num"
                    small
                    class="mr-2"
                    @click="editItem(item)"
                >
                    edit
                </v-icon>
            </template>



        </v-data-table>

    </v-container>
</template>

<script>
    const initialState = JSON.parse(window.__INITIAL_STATE__);
    // console.log(initialState);
    const baseUrl = 'http://mentor/';
    import situationReport from '../components/SituationReport1'
    import situationReportView from '../components/SituationReport1View'


    export default {
        name: "Reports",
        components: {situationReport, situationReportView},
        props: {
            // shift: {
            //     type: Object
            // },
        },
        data () {
            return {
                dialog: false,
                userData: initialState,
                updating: false,
                reportToUpdate: {},
                itemsPerPage: 10,
                headers: [
                    { text: 'id', value: 'id' },
                    {
                        text: 'Службова ситуація',
                        align: 'start',
                        // sortable: false,
                        value: 'situation_name',
                    },
                    { text: 'Зміна', value: 'shift' },
                    { text: 'Етап', value: 'stage' },
                    { text: 'Створено', value: 'created_at' },
                    { text: 'Редаговано', value: 'updated_at' },
                    { text: 'Actions', value: 'action', sortable: false },
                ],
                allSituationsReports: initialState.allSituationsReports,
            }
        },
        methods: {
            createPDF () {
                let pdfName = 'test';
                const doc = new jsPDF();
                doc.text("Hello World", 10, 10);
                doc.save(pdfName + '.pdf');
            },

            editItem (e) {
            //this method allow you to edit report
                if (!e) {
                    return this.updating = false;
                }
                if (this.reportToUpdate.id === e) {
                    this.updating = true;
                } else {
                    this.$http.post(baseUrl + 'api/show-situation-report', {
                        id: e,
                    }).then((response) => {
                        this.reportToUpdate = response.data.success;
                        this.updating = true;
                    });
                }
            },
            showReport (item) {
                // this.editedIndex = this.allSituationsReports.indexOf(item)
                // this.editedItem = Object.assign({}, item)
                this.dialog = true
            },
            toPdf (item) {
                this.editedIndex = this.allSituationsReports.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },
        },
        computed: {
            shift() {
                return this.$store.getters.getShift;
            },
        }
    }
</script>

<style scoped>

</style>
