<template>
    <v-container>
        choose role
        <v-btn
            @click="getUsersNotInTeam"
        >
            get users not in team
        </v-btn>

        <v-simple-table>
            <template v-slot:default>
                <thead>
                <tr>
                    <th class="text-left">#</th>
                    <th class="text-left">Користувач</th>
                    <th class="text-left">Email</th>
                    <th class="text-left">Роль</th>
                    <th class="text-left">Батальон</th>
                    <th class="text-left">Рота</th>
                    <th class="text-left">Редагувати</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in usersNotInTeam" >
                    <td>{{ index + 1}}</td>
                    <td>{{ item.name }} - {{ item.id }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.role_name }}</td>
                    <td>{{ item.battalion }}</td>
                    <td>{{ item.troop }}</td>

                    <td>
                        <v-btn
                            icon
                            @click="showEditRoleDialog(index)"
                        >
                            <v-icon>edit</v-icon>
                        </v-btn>



                    </td>
                </tr>
                </tbody>
            </template>
        </v-simple-table>


        <v-dialog
            v-model="editDialog"
            persistent
            max-width="300"
        >
            <v-card>

                <v-card-title class="headline">{{ userToEdit.name}}</v-card-title>
                <v-card-subtitle>{{ userToEdit.email }}</v-card-subtitle>

                <v-card-text>
                    <v-row>
                        <v-col cols="12">
                            {{ userToEdit.role_name }}
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col
                            cols="12"
                        >
                            <v-select
                                v-model="selectedBattalion"
                                :items="battalions"
                                label="Батальон"
                                outlined
                            ></v-select>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col
                            cols="12"
                        >
                            <v-select
                                v-model="selectedTroop"
                                :items="troops"
                                label="Рота"
                                outlined
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                        color="green darken-1"
                        text
                        @click="closeUnsaved"
                    >
                        Відмінити
                    </v-btn>

                    <v-btn
                        color="green darken-1"
                        text
                        @click="closeAndSave"
                    >
                        Зберегти
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    import axios from 'axios'
    const baseUrl = 'http://mentor/'
    export default {
        name: "BattalionTroop",
        data() {
            return {
                editDialog: false,
                usersNotInTeam: [],
                battalions: [0, 1, 2, 3, 4, 5],
                troops: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                selectedBattalion: '',
                selectedTroop: '',
                userToEdit: {}
            }
        },
        methods: {
            getUsersNotInTeam() {
                axios.post(baseUrl + 'api/get-users-not-in-team', {

                }).then(response => {
                    this.usersNotInTeam = response.data;
                });
            },
            showEditRoleDialog (index) {
                this.editDialog = true;
                this.userToEdit = this.usersNotInTeam[index];


                console.log(this.roles);
                console.log(this.userToEdit);
                this.selectedBattalion = this.userToEdit.battalion;
                this.selectedTroop = this.userToEdit.troop;
            },
            closeUnsaved () {
                this.editDialog = false;
                this.selectedBattalion = '';
                this.selectedTroop = '';
                this.userToEdit = {};
            },
            changeTroop() {
                return axios.post(baseUrl+'api/change-troop', {
                    userId: this.userToEdit.id,
                    selectedTroop: this.selectedTroop
                });
            },
            changeBattalion() {
                return axios.post(baseUrl+'api/change-battalion', {
                    userId: this.userToEdit.id,
                    selectedBattalion: this.selectedBattalion
                });
            },
            closeAndSave () {
                let changeTroop = this.changeTroop();
                let changeBattalion = this.changeBattalion();

                axios.all([changeTroop, changeBattalion]).then(axios.spread((...responses) => {
                    console.log(responses);
                }));

                return;
                console.log(this.userToEdit);
                axios.post(baseUrl+'api/change-troop-and-battalion', {
                    userId: this.userToEdit.id,
                    selectedRole: this.selectedRole
                }).then(response => {
                    this.closeUnsaved();
                });
            },
            listRoles () {
                axios.post(baseUrl + 'api/roles').then(response => {
                    this.roles = response.data;

                });
            }
        },
        beforeMount() {
            this.getUsersNotInTeam();
            this.listRoles();
        }
    }
</script>

<style scoped>

</style>
