<template>
    <div>
        <h1>admin module</h1>
        <v-btn router to="/admin/teams">
            <span>Команди</span>
        </v-btn>
        <v-btn router to="/admin/roles">
            <span>Ролі</span>
        </v-btn>
        <v-btn router to="/admin/department">
            <span>Батальон/рота</span>
        </v-btn>
    </div>
</template>

<script>
    export default {
        name: "Home"
    }
</script>

<style scoped>

</style>
