<template>
    <v-container>
        <v-row>
            <v-col
                cols="12"
            >
                <h1>Екіпаж</h1>
                <!--            autocomplete row-->
                <v-row>
                    <v-col
                        cols="12"
                        md="2"
                        sm="6"
                    >
                        <v-autocomplete
                            label="Батальон"
                            :items="battalionsList"
                            item-text="name"
                            item-value="id"
                            v-model="chosenBattalion"
                            autocomplete="off"
                            @change="getUsersByTroopBatt"
                        ></v-autocomplete>
                    </v-col>
                    <v-col
                        cols="12"
                        md="2"
                        sm="6"
                    >
                        <v-autocomplete
                            label="Рота"
                            :items="troopsList"
                            item-text="name"
                            item-value="id"
                            v-model="chosenTroop"
                            autocomplete="off"
                            @change="getUsersByTroopBatt"
                        ></v-autocomplete>
                    </v-col>

                    <v-col
                        cols="12"
                        md="4"
                        sm="6"
                    >
                        <v-autocomplete
                            label="Обрати стажера"
                            :items="traineesList"
                            no-data-text="Поліцейських не виявлено"
                            clearable
                            item-text="name"
                            item-value="id"
                            :search-input.sync="searchInputTrainee"
                            v-model="chosenTrainee"
                            autocomplete="off"
                        ></v-autocomplete>
                    </v-col>
                    <v-col
                        cols="12"
                        md="4"
                        sm="6"
                    >
                        <v-autocomplete
                            label="Обрати ментора"
                            :items="mentorsList"
                            no-data-text="Поліцейських не виявлено"
                            clearable
                            item-text="name"
                            item-value="id"
                            :search-input.sync="searchInputMentor"
                            v-model="chosenMentor"
                            autocomplete="off"
                        ></v-autocomplete>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col
                        cols="10"
                    >
                    </v-col>
                    <v-col
                        cols="2"
                        class="d-flex justify-end"
                    >
                        <v-btn
                            @click="addTeam"
                        >
                            Додати
                        </v-btn>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>

        <!--    -->
        <v-row>
            <v-col
                cols="12"
            >
                <v-simple-table
                    :dense="false"
                    :fixed-header="false"
                >
                    <template v-slot:default>
                        <thead>
                        <tr>
                            <th class="text-left">#</th>
                            <th class="text-left">Стажер</th>
                            <th class="text-left">Ментор</th>
                            <th class="text-left">Батальон</th>
                            <th class="text-left">Рота</th>
                            <th class="text-left">x</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in teams" >
                            <td>{{ index + 1}}</td>
                            <td>{{ item.trainee.name }} - {{ item.trainee.id }}</td>
                            <td>{{ item.mentor.name }} - {{ item.mentor.id }}</td>
                            <td>{{ item.battalion }}</td>
                            <td>{{ item.troop }}</td>
                            <td>
                                <v-btn
                                    icon
                                    @click="removeTeamFromMiddleware(index)"
                                >
                                    <v-icon
                                        class="deep-orange--text text--lighten-3"
                                    >
                                        clear
                                    </v-icon>

                                </v-btn>
                            </td>
                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </v-col>

        </v-row>
        <v-row>
            <v-col
                cols="10"
            >
                <v-btn
                    @click="getTeamList"
                >
                    Get team list
                </v-btn>
            </v-col>
            <v-col
                cols="2"
                class="d-flex justify-end"
            >
                <v-btn
                    v-if="teams.length > 0"
                    @click="saveTeam"
                >
                    Зберегти
                </v-btn>

                <v-tooltip bottom v-else>
                    <template v-slot:activator="{ on }">
                        <div v-on="on">
                            <v-btn disabled>
                                Зберегти
                            </v-btn>
                        </div>

                    </template>
                    <span>Спочатку потрібно додати пару стажер-ментор</span>
                </v-tooltip>

            </v-col>
        </v-row>

        <v-row>
            <v-col
                cols="12"
            ><h3>Сформовані екіпажі</h3>
                <v-simple-table
                    :dense="false"
                    :fixed-header="false"
                >
                    <template v-slot:default>
                        <thead>
                        <tr>
                            <th class="text-left">#</th>
                            <th class="text-left">Стажер</th>
                            <th class="text-left">Ментор</th>
                            <th class="text-left">Батальон</th>
                            <th class="text-left">Рота</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in groupedTeams" >
                            <td>{{ index + 1}}</td>
                            <td>{{ item.trainee_name }} - {{ item.trainee_id }}</td>
                            <td>{{ item.mentor_name }} - {{ item.mentor_id }}</td>
                            <td>{{ item.battalion }}</td>
                            <td>{{ item.troop }}</td>
                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </v-col>

        </v-row>
    </v-container>
</template>

<script>
    import axios from 'axios';
    const baseUrl = 'http://mentor/';
    export default {
        name: "Teams",
        data () {
            return {
                battalionsList: [1, 2, 3, 4, 5],
                troopsList: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                traineesList: [],
                mentorsList: [],
                chosenBattalion: null,
                chosenTroop: null,
                chosenMentor: '',
                chosenTrainee: '',
                teams: [],
                searchInputMentor: '',
                searchInputTrainee: '',
                groupedTeams: []
            }
        },
        methods: {
            getTrainees () {
                this.chosenMentor = '';
                this.chosenTrainee = '';
                if (this.chosenBattalion && this.chosenTroop) {
                    axios.post(baseUrl + 'api/get-trainees-list-by-troop-batt', {
                        troop: this.chosenTroop,
                        battalion: this.chosenBattalion
                    }).then((response) => {
                        console.log(response);
                        this.traineesList = response.data;
                    });
                }
            },
            getMentors () {
                this.chosenMentor = '';
                this.chosenTrainee = '';
                if (this.chosenBattalion && this.chosenTroop) {
                    axios.post(baseUrl + 'api/get-mentors-list-by-troop-batt', {
                        troop: this.chosenTroop,
                        battalion: this.chosenBattalion
                    }).then((response) => {
                        console.log(response);
                        this.mentorsList = response.data;
                    });
                }
            },
            getUsersByTroopBatt () {
                if (this.chosenBattalion && this.chosenTroop) {
                    // axios.post(baseUrl + 'api/get-users-by-troop-batt', {
                    //     troop: this.chosenTroop,
                    //     battalion: this.chosenBattalion
                    // }).then((response) => {
                    //     console.log(response);
                    // }).then(response => {
                        // console.log(response)
                        this.getTrainees();
                        this.getMentors();
                    // });
                }
            },
            addTeam () {
                let chosenMentor = this.chosenMentor;
                let chosenTrainee = this.chosenTrainee;

                let foundMentor = this.mentorsList.filter(function(elem){
                    // console.log(elem);
                    if(elem.id === chosenMentor) {
                        return elem;
                    }
                });
                let foundTrainee = this.traineesList.filter(function(elem){
                    // console.log(elem);
                    if(elem.id === chosenTrainee) {
                        return elem;
                    }
                });

                //add the team to middleware array
                if(foundTrainee.length > 0 && foundMentor.length > 0) {
                    this.teams.push({
                        trainee: {id: this.chosenTrainee, name: foundTrainee[0].name},
                        mentor: {id: this.chosenMentor, name: foundMentor[0].name},
                        battalion: this.chosenBattalion,
                        troop: this.chosenTroop
                    });

                    //remove from trainee/mentor list after adding to middleware
                    this.traineesList = this.traineesList.filter(function( obj ) {
                        return obj.id !== foundTrainee[0].id;
                    });
                    this.mentorsList = this.mentorsList.filter(function( obj ) {
                        return obj.id !== foundMentor[0].id;
                    });
                }

                //clear search input
                this.searchInputMentor = '';
                this.searchInputTrainee = '';
                this.chosenMentor = '';
                this.chosenTrainee = '';
            },
            removeTeamFromMiddleware (index) {
                this.traineesList.unshift(this.teams[index].trainee);
                this.mentorsList.unshift(this.teams[index].mentor);
                this.teams.splice(index, 1);
            },
            saveTeam () {
                console.log(this.teams);
                axios.post(baseUrl + 'api/set-team', {
                    teams: this.teams
                }).then((response) => {
                    this.teams = [];
                }).then(a => {
                    this.getTeamList();
                });
            },
            getTeamList () {
                axios.post(baseUrl + 'api/get-team-list', {
                }).then((response) => {
                    this.groupedTeams = response.data;
                    console.log(response);
                });
            }
        },
        beforeMount() {
            this.getTrainees();
            this.getMentors();
            this.getTeamList();
        }
    }
</script>

<style scoped>

</style>
