<template>
    <div>
        <v-dialog
            v-model="finalReportDialog"
            persistent
            width="1000"
            class="my-2"
        >
            <template #activator="{ on: finalReportDialog}">
                <v-btn
                    v-on="{...finalReportDialog}"
                >
                    Написати фінальний звіт
                </v-btn>
            </template>

            <v-stepper v-model="stepperFinalReport">
                <template>
                    <v-stepper-header class="d-flex justify-center align-center grey lighten-2">
                        <h3 class="heading">Фінальний звіт-оцінювання</h3>
                    </v-stepper-header>

                    <v-stepper-items>
                        <!--                        general info-->
                        <v-stepper-content
                            step="1"
                        >
                            <v-card>
                                <v-card-title>
                                    Загальна інформація
                                </v-card-title>

                                <v-row>
                                    <v-col cols="12" sm="6">
                                        <v-dialog
                                            ref="dialog_patrol_date"
                                            v-model="modal_internship_start"
                                            :return-value.sync="internship_started"
                                            persistent
                                            width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                                <v-text-field
                                                    v-model="internship_started"
                                                    label="Період стажування (з)"
                                                    prepend-icon="event"
                                                    v-on="on"
                                                ></v-text-field>
                                            </template>
                                            <v-date-picker v-model="internship_started" scrollable locale="uk">
                                                <v-spacer></v-spacer>
                                                <v-btn text color="" @click="modal_internship_start = false">Відміна
                                                </v-btn>
                                                <v-btn text color=""
                                                       @click="$refs.dialog_patrol_date.save(internship_started)">
                                                    OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-col>
                                    <v-col
                                        cols="12" sm="6"
                                    >
                                        <v-dialog
                                            ref="dialog_next_shift_date"
                                            v-model="modal_internship_end"
                                            :return-value.sync="internship_ended"
                                            persistent
                                            width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                                <v-text-field
                                                    v-model="internship_ended"
                                                    label="Період стажування (до)"
                                                    prepend-icon="event"
                                                    v-on="on"
                                                ></v-text-field>
                                            </template>
                                            <v-date-picker v-model="internship_ended" scrollable locale="uk">
                                                <v-spacer></v-spacer>
                                                <v-btn text color="" @click="modal_internship_end = false">Відміна
                                                </v-btn>
                                                <v-btn text color=""
                                                       @click="$refs.dialog_next_shift_date.save(internship_ended)">
                                                    OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-col>
                                </v-row>

                                <v-card-text>
                                    Стажер {{partner.lastname}} {{partner.name}} {{partner.midname}}
                                </v-card-text>
                                <v-card-text>
                                    Номер жетона стажера {{partner.badge_number}}
                                </v-card-text>
                                <v-card-text>
                                    Батальйон/рота {{partner.battalion}}/{{partner.troop}}
                                </v-card-text>
                                <v-card-text>
                                    Наставник {{userData.lastname}} {{userData.name}} {{userData.midname}}
                                </v-card-text>
                                <v-card-text>
                                    Номер жетона наставника {{userData.badgeNumber}}
                                </v-card-text>

                                <v-card-actions>
                                    <v-btn
                                        @click="stepperFinalReport=2"
                                    >
                                        Далі
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        @click="cancel"
                                    >
                                        Відмінити
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-stepper-content>
                        <!--                        general info end-->



                        <v-stepper-content
                            step="2"
                        >
                            <v-card>
                                <v-card-title>
                                    Оцінка ключових компетенцій
                                </v-card-title>
                                <div
                                    style="border: solid 1px "
                                    class="pa-2 my-5 d-flex justify-space-between"
                                    v-for="(competency, index) in competenciesNotes"
                                    v-bind:key="competency.id"
                                >
<!--                                    <v-col-->
<!--                                        cols="12"-->
<!--                                        sm="3"-->
<!--                                    >-->
                                        <v-card-title>
                                            {{competency.name}}
                                        </v-card-title>
<!--                                    </v-col>-->

<!--                                    <v-col-->
<!--                                        cols="12"-->
<!--                                        sm="9"-->
<!--                                    >-->
                                        <v-radio-group v-model="competency.grade" row>
                                            <v-radio label="погано" value="0"></v-radio>
                                            <v-radio label="добре" value="1"></v-radio>
                                            <v-radio label="відмінно" value="2"></v-radio>
                                        </v-radio-group>
<!--                                    </v-col>-->
                                </div>

                                <v-card-actions>
                                    <v-btn
                                        @click="stepperFinalReport=3"
                                    >
                                        Далі
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        @click="stepperFinalReport=1"
                                    >
                                        Назад
                                    </v-btn>
                                    <v-btn
                                        @click="cancel"
                                    >
                                        Відмінити
                                    </v-btn>
                                </v-card-actions>
                            </v-card>

                        </v-stepper-content>

                        <v-stepper-content
                            step="3"
                        >
                            <v-card>
                                <v-card-title>
                                    Характеристика
                                </v-card-title>

                                <v-textarea
                                    label="Характеристика"
                                    auto-grow
                                    outlined
                                    rows="15"
                                    v-model="characteristics"
                                ></v-textarea>
                                <div>
                                    <v-radio-group v-model="general_grade" :mandatory="false">
                                        <v-radio :label="grades_tesxt[0]" value="0"></v-radio>
                                        <v-radio :label="grades_tesxt[1]" value="1"></v-radio>
                                        <v-radio :label="grades_tesxt[2]" value="2"></v-radio>
                                    </v-radio-group>
                                </div>
                                <v-card-actions>
                                    <v-btn
                                        @click="saveFinalReport"
                                    >
                                        Зберегти
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        @click="stepperFinalReport=2"
                                    >
                                        Назад
                                    </v-btn>
                                    <v-btn
                                        @click="cancel"
                                    >
                                        Відмінити
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-stepper-content>
                    </v-stepper-items>
                </template>
            </v-stepper>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        name: "FinalReport",
        data () {
            return {
                finalReportDialog: false,
                stepperFinalReport: 1,
                modal_internship_start: false,
                modal_internship_end: false,
                internship_started: new Date().toISOString().substr(0, 10),
                internship_ended: new Date().toISOString().substr(0, 10),
                characteristics: '',
                general_grade: "0",
                grades_tesxt: [
                    'Патрульний поліцейський який неадаптований до умов несення служби',
                    'Патрульний поліцейський який потребує додаткового навчання',
                    'Професійний та психологічно адаптований патрульний поліцейський'
                ]
            }
        },
        computed: {
            partner() {
                return this.$store.getters.getPartner;
            },
            userData(){
                return this.$store.getters.getUserData;
            },
            competenciesNotes() {
                return this.$store.getters.getCompetenciesList.map(function (el, i) {
                    return {id:el.id, name: el.name, grade: "1"};
                });
            }
        },
        methods: {
            cancel() {
                this.finalReportDialog = false;
                this.stepperFinalReport = 1;
            },
            saveFinalReport() {
                this.$http.post('http://mentor/api/save-final-report', {
                    mentor_id: this.userData.id,
                    trainee_id: this.partner.id,
                    internship_started: this.internship_started,
                    internship_ended: this.internship_ended,
                    characteristics: this.characteristics,
                    general_grade: this.general_grade,
                    competencies_grades: this.competenciesNotes
                });
            }
        },
        mounted() {
            // console.log(this.shift);
        }
    }
</script>

<style scoped>

</style>
