<template>
    <div>
        <v-dialog
            v-model="shiftReportDialog"
            persistent
            width="1000"
            class="my-2"
        >
            <template #activator="{ on: shiftReportDialog}">
                <v-btn
                    v-on="{...shiftReportDialog}"
                >
                    Написати щозмінний звіт-оцінювання
                </v-btn>
            </template>

            <v-stepper v-model="stepperShiftReport">
                <template>
                    <v-stepper-header class="d-flex justify-center align-center grey lighten-2">
                        <h3 class="heading">Щозмінний звіт-оцінювання 3</h3>
                    </v-stepper-header>

                    <v-stepper-items>
                        <!--                        general info-->
                        <v-stepper-content
                            step="1"
                        >
                            <v-card>
                                <v-card-title>
                                    Загальна інформація
                                </v-card-title>

                                <v-row>
                                    <v-col cols="12" sm="8">
                                        <v-dialog
                                            ref="dialog_patrol_date"
                                            v-model="modal_patrol_date"
                                            :return-value.sync="patrol_date"
                                            persistent
                                            width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                                <v-text-field
                                                    v-model="patrol_date"
                                                    label="Дата патрулювання"
                                                    prepend-icon="event"
                                                    v-on="on"
                                                ></v-text-field>
                                            </template>
                                            <v-date-picker v-model="patrol_date" scrollable locale="uk">
                                                <v-spacer></v-spacer>
                                                <v-btn text color="" @click="modal_patrol_date = false">Відміна
                                                </v-btn>
                                                <v-btn text color=""
                                                       @click="$refs.dialog_patrol_date.save(patrol_date)">
                                                    OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-col>
                                    <v-col
                                        cols="12" sm="4"
                                    >
                                        <v-switch v-model="is_day_shift">
                                            <template v-slot:label>
                                                <div v-if="is_day_shift">День</div>
                                                <div v-else>Ніч</div>
                                            </template>
                                        </v-switch>
                                    </v-col>
                                </v-row>

                                <v-card-text>
                                    Стажер {{partner.lastname}} {{partner.name}} {{partner.midname}}
                                </v-card-text>
                                <v-card-text>
                                    Номер жетона стажера {{partner.badge_number}}
                                </v-card-text>
                                <v-card-text>
                                    Батальйон/рота {{partner.battalion}}/{{partner.troop}}
                                </v-card-text>
                                <v-card-text>
                                    Наставник {{userData.lastname}} {{userData.name}} {{userData.midname}}
                                </v-card-text>
                                <v-card-text>
                                    Номер жетона наставника {{userData.badgeNumber}}
                                </v-card-text>

                                <v-card-actions>
                                    <v-btn
                                        @click="stepperShiftReport=2"
                                    >
                                        Далі
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        @click="cancel"
                                    >
                                        Відмінити
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-stepper-content>
                        <!--                        general info end-->



                        <v-stepper-content
                            step="2"
                        >
                            <v-card>
                                <v-card-title>
                                    Оцінка ключових компетенцій
                                </v-card-title>
                                <div
                                    style="border: solid 1px "
                                    class="pa-2 my-5 d-flex justify-space-between"
                                    v-for="(competency, index) in competenciesNotes"
                                    v-bind:key="competency.id"
                                >
                                    <v-card-title>
                                        {{competency.name}}
                                    </v-card-title>
                                    <v-radio-group v-model="competency.grade" row>
                                        <v-radio label="погано" value="0"></v-radio>
                                        <v-radio label="добре" value="1"></v-radio>
                                        <v-radio label="відмінно" value="2"></v-radio>
                                    </v-radio-group>
                                </div>

                                <v-textarea
                                    label="Загальні рекомендації"
                                    auto-grow
                                    outlined
                                    v-model="mentorRecommendations"
                                ></v-textarea>

                                <v-card-actions>
                                    <v-btn
                                        @click="stepperShiftReport=3"
                                    >
                                        Далі
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        @click="stepperShiftReport=1"
                                    >
                                        Назад
                                    </v-btn>
                                    <v-btn
                                        @click="cancel"
                                    >
                                        Відмінити
                                    </v-btn>
                                </v-card-actions>
                            </v-card>

                        </v-stepper-content>

                        <v-stepper-content
                            step="3"
                        >
                            <v-card>
                                <v-card-title>
                                    Планування наступної зміни
                                </v-card-title>
                                <div>
                                    <v-dialog
                                        ref="dialog_next_shift_date"
                                        v-model="modal_next_shift_date"
                                        :return-value.sync="nextShiftDate"
                                        persistent
                                        width="290px"
                                    >
                                        <template v-slot:activator="{ on }">
                                            <v-text-field
                                                v-model="nextShiftDate"
                                                label="Дата патрулювання"
                                                prepend-icon="event"
                                                v-on="on"
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker v-model="nextShiftDate" scrollable locale="uk">
                                            <v-spacer></v-spacer>
                                            <v-btn text color="" @click="modal_next_shift_date = false">Відміна
                                            </v-btn>
                                            <v-btn text color=""
                                                   @click="$refs.dialog_next_shift_date.save(nextShiftDate)">
                                                OK
                                            </v-btn>
                                        </v-date-picker>
                                    </v-dialog>
                                </div>
                                <div
                                    style="border: solid 1px "
                                    class="pa-2 my-5"
                                    v-for="(competency, index) in competenciesNotes"
                                    v-bind:key="competency.id"
                                >
                                    <v-card-title>
                                        {{competency.name}}
                                    </v-card-title>
                                    <v-textarea
                                        label="Цілі та завдання"
                                        auto-grow
                                        outlined
                                        shaped
                                        v-model="competency.nextShiftGoals"
                                    ></v-textarea>
                                </div>
                                <v-card-actions>
                                    <v-btn
                                        @click="saveShiftReport"
                                    >
                                        Зберегти
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        @click="stepperShiftReport=2"
                                    >
                                        Назад
                                    </v-btn>
                                    <v-btn
                                        @click="cancel"
                                    >
                                        Відмінити
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-stepper-content>
                    </v-stepper-items>
                </template>
            </v-stepper>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        name: "ShiftReport3",
        data () {
            return {
                shiftReportDialog: false,
                stepperShiftReport: 1,
                is_day_shift: true,
                modal_patrol_date: false,
                modal_next_shift_date: false,
                mentorRecommendations: '',
                patrol_date: new Date().toISOString().substr(0, 10),
                nextShiftDate: new Date().toISOString().substr(0, 10)
            }
        },
        computed: {
            situationsCases () {
                return this.$store.getters.getSituationsCases;
            },
            shift() {
                return this.$store.getters.getShift;
            },
            partner() {
                return this.$store.getters.getPartner;
            },
            userData(){
                return this.$store.getters.getUserData;
            },
            competenciesNotes() {
                return this.$store.getters.getCompetenciesList.map(function (el, i) {
                    let arr = [];
                    arr.push();
                    return {id:el.id, name: el.name, shortcomings: '', trainingPlan: '', grade: "1", nextShiftGoals: ''};
                });
            }
        },
        methods: {
            cancel() {
                this.shiftReportDialog = false;
                this.stepperShiftReport = 1;
            },
            saveShiftReport() {
                this.$http.post('http://mentor/api/save-shift-report', {
                    mentor_id: this.userData.id,
                    trainee_id: this.partner.id,
                    shift: this.shift.shift_num,
                    stage: this.shift.stage_num,
                    started_at: this.patrol_date,
                    is_day_shift: this.is_day_shift,
                    mentors_recommendations: this.mentorRecommendations,
                    next_shift_date: this.nextShiftDate,
                    competencies_notes: this.competenciesNotes
                });
            }
        },
        mounted() {
            // console.log(this.shift);
        }
    }
</script>

<style scoped>

</style>
