<template>
    <div>
        <v-dialog v-model="mentorDialog"
                  width="1000"
        >
            <template v-slot:activator="{ on }">
                <v-btn
                    color="green lighten-2"
                    dark
                    @click="mentorsSituationReport(reportId)"
                    v-on="on"
                >
                    Переглянути
                </v-btn>
            </template>
            <v-card
                class="d-flex flex-column"
            >
                <v-card-title
                    class="justify-center"
                >
                    Ситуаційний звіт стажера
                </v-card-title>

                <v-card-text
                    class="subtitle-2"
                    v-if="shift.started_at"
                >
                    Дата патрулювання {{shift.started_at.substring(0, 10)}}
                </v-card-text>

                <v-card-text class="headline">Ситуація: <span>{{mentorReport.situation}}</span></v-card-text>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Опис ситуації/Фабула</v-card-title>
                    <v-card-text>{{mentorReport.fabula}}</v-card-text>
                </div>
                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Алгоритм</v-card-title>
                    <v-card-text>{{mentorReport.algorithm}}</v-card-text>
                </div>
                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Ключові компетенції</v-card-title>
                    <v-card-text>{{mentorReport.competencies}}</v-card-text>
                </div>
                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Нотатки</v-card-title>
                    <v-card-text>{{mentorReport.notes}}</v-card-text>
                </div>
                <div class="align-self-end">
                    <v-card-text>Створено {{mentorReport.created_at}}</v-card-text>
                </div>

                <div class="ma-2">
                    <v-textarea
                        name="recommendations"
                        label="Рекомендації для стажера"
                        placeholder="Рекомендації"
                        v-model="mentorReport.recommendations"
                    ></v-textarea>
                </div>
<!--                <v-card-actions>-->
<!--                    Оцінка по службовій ситуації:-->
<!---->
<!--                    <v-rating v-model="mentorReport.rating">-->
<!--                        <template v-slot:item="props">-->
<!--                            <v-icon-->
<!--                                :color="props.isFilled ? genColor(props.index) : 'grey lighten-1'"-->
<!--                                large-->
<!--                                v-text="`mdi-numeric-${props.index + 1}-box`"-->
<!--                                @click="props.click"-->
<!--                            >-->
<!--                            </v-icon>-->
<!--                        </template>-->
<!--                    </v-rating>-->
<!--                </v-card-actions>-->
                <v-card-actions>
                    <v-btn color="green darken-1" text
                           @click="saveMentorsReport(mentorReport.id)"
                    >
                        Зберегти</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-1" text @click="mentorDialog = false">Відмінити</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-snackbar
            v-model="snackbar"
        >
            {{ snackbarText }}
            <v-btn
                color="pink"
                text
                @click="snackbar = false"
            >
                Закрити
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        props: {
            // mentorReport: {
            //     type: Object
            // },
            reportId: {
                type: String | Number
            },
            shift: {
                type: Object
            }
        },
        name: "SituationReport1",
        data () {
            return {
                mentorDialog: false,
                snackbar: false,
                snackbarText: false,
                mentorReport: {
                    id: '',
                    situation: '',
                    fabula: '',
                    algorithm: '',
                    competencies: '',
                    notes: '',
                    created_at: '',
                    recommendations: '',
                    // rating: 0,
                },
                // ratingColors: ['red lighten-1', 'pink lighten-2', 'light-blue lighten-2', 'teal lighten-2', 'green lighten-1']
            }
        },
        methods: {
            // genColor(i) {
            //     return this.ratingColors[i]
            // },
            saveMentorsReport (id) {
                this.mentorDialog = false;
                console.log(id);
                axios.put('api/add-mentors-recommendations', {
                    id: this.mentorReport.id,
                    recommendations: this.mentorReport.recommendations,
                    // rating: this.mentorReport.rating
                }).then((response) => {
                    console.log(response);
                    this.snackbar = true;
                    if ( response.data.success ) {
                        this.snackbarText = 'Ситуація успішно збережена';
                        this.mentorDialog = false;
                        this.updateReportVuex(response.data.success);
                        // this.clearReportData();
                    } else {
                        this.snackbarText = 'Сталася помилка! ' + response.data.error;
                    }
                });
            },
            updateReportVuex (data) {
                return this.$store.dispatch('updateReport', data)
            },
            mentorsSituationReport (id) {
                axios.post('api/show-situation-report', {
                    id: id,
                    // email: localStorage.getItem('user'),
                    situation: this.mentorReport.situation
                }).then((response) => {
                    this.mentorDialog = true;
                    this.mentorReport.id = response.data.success.id;
                    this.mentorReport.situation = response.data.success.situation_name;
                    this.mentorReport.fabula = response.data.success.fabula;
                    this.mentorReport.algorithm = response.data.success.algorithm;
                    this.mentorReport.competencies = response.data.success.competencies_names;
                    this.mentorReport.notes = response.data.success.notes;
                    this.mentorReport.created_at = response.data.success.created_at;
                    this.mentorReport.recommendations = response.data.success.recommendations;
                    // this.mentorReport.rating = response.data.success.rating;
                });
            },
        }
    }
</script>

<style scoped>

</style>
