<template>
    <div>
        <v-dialog v-model="dialog"
                  width="1000"
        >
            <template v-slot:activator="{ on }">
                <v-btn
                    color="green lighten-2"
                    dark
                    v-on="on"
                >
                    Написати Етапний звіт №1
                </v-btn>
            </template>

            <v-stepper v-model="stageStepper">
                <template>
                    <v-stepper-header class="d-flex justify-center align-center grey lighten-2">
                        <h3 class="headline">Етапний звіт-оцінювання</h3>
                    </v-stepper-header>

                    <v-stepper-items>
                        <!-- info and statistics start -->
                        <v-stepper-content step="1">
                            <v-card
                                class="d-flex flex-column"
                            >
                                <v-card-text
                                    class="subtitle-2"
                                >

                                    <v-row>
                                        <v-col
                                            cols="12"
                                            xs="12"
                                            md="6"
                                        >
                                            Період патрулювання з
                                            <v-dialog
                                                ref="dialog_started"
                                                v-model="modal_started_at"
                                                :return-value.sync="started_at"
                                                persistent
                                                width="290px"
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                        v-model="started_at"
                                                        label="Picker in dialog"
                                                        prepend-icon="event"
                                                        v-on="on"
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker v-model="started_at" scrollable locale="uk">
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="" @click="modal_started_at = false">Відміна</v-btn>
                                                    <v-btn flat color="" @click="$refs.dialog_started.save(started_at)">OK</v-btn>
                                                </v-date-picker>
                                            </v-dialog>
                                        </v-col>
                                        <v-col
                                            cols="12"
                                            xs="12"
                                            md="6"
                                        >
                                            Період патрулювання до
                                            <v-dialog
                                                ref="dialog_finished"
                                                v-model="modal_finished_at"
                                                :return-value.sync="finished_at"
                                                persistent
                                                width="290px"
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                        v-model="finished_at"
                                                        label="Picker in dialog"
                                                        prepend-icon="event"
                                                        v-on="on"
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker v-model="finished_at" scrollable locale="uk">
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="" @click="modal_finished_at = false">Відміна</v-btn>
                                                    <v-btn flat color="" @click="$refs.dialog_finished.save(finished_at)">OK</v-btn>
                                                </v-date-picker>
                                            </v-dialog>

                                        </v-col>
                                    </v-row>


                                </v-card-text>

                                <v-card-text
                                    class="subtitle-2"
                                >
                                    Стажер (ПІБ) {{partner.lastname}} {{partner.name}} {{partner.midname}}
                                </v-card-text>
                                <v-card-text
                                    class="subtitle-2"
                                >
                                    Номер жетона стажера {{partner.badge_number}}
                                </v-card-text>
                                <v-card-text
                                    class="subtitle-2"
                                >
                                    Батальйон/рота {{partner.battalion}}/{{partner.troop}}
                                </v-card-text>
                                <v-card-text
                                    class="subtitle-2"
                                >
                                    Наставник (ПІБ) {{lastname}} {{name}} {{midname}}
                                </v-card-text>
                                <v-card-text
                                    class="subtitle-2"
                                >
                                    Номер жетона наставника {{badgeNumber}}
                                </v-card-text>

                                <v-row
                                    class="ma-2"
                                >
                                    <v-col
                                        cols="12"
                                    >
                                        <v-simple-table>
                                            <template v-slot:default>
                                                <thead>
                                                <tr>
                                                    <th class="text-left">Службова ситуація</th>
                                                    <th class="text-left">зміна №1</th>
                                                    <th class="text-left">зміна №2</th>
                                                    <th class="text-left">зміна №3</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>дрібні адміністративні правопорушення</td>
                                                    <td>0</td>
                                                    <td>2</td>
                                                    <td>1</td>
                                                </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-col>

                                </v-row>


<!--                                <v-card-actions>-->
<!--                                    <v-btn color="green darken-1" text-->
<!--                                    >-->
<!--                                        Зберегти-->
<!--                                    </v-btn>-->
<!--                                    <v-spacer></v-spacer>-->
<!--                                </v-card-actions>-->
                            </v-card>

                            <v-btn
                                color="primary"
                                @click="stageStepper = 2"
                            >
                                Continue
                            </v-btn>
                        </v-stepper-content>
                        <!-- info and statistics end -->

                        <!-- competencies start -->
                        <v-stepper-content step="2">
                            <v-row
                                class="d-flex flex-column"
                            >
                                <v-col
                                    cols="12"
                                >
                                    <h3 class="title">Нотатки щодо ключових компетенцій</h3>

                                    <v-card
                                        style="border: solid 1px "
                                        class="pa-2 my-5"
                                        v-for="(competency, index) in competenciesNotes"
                                        v-bind:key="competency.id"
                                    >
                                        <v-card-title>
                                            {{competency.name}}
                                        </v-card-title>
                                        <v-textarea
                                            label="Недоліки в роботі за три зміни"
                                            auto-grow
                                            outlined
                                            shaped
                                            v-model="competency.shortcomings"
                                        ></v-textarea>
                                        <v-textarea
                                            label="Рекомендації та план розвитку/навчання"
                                            auto-grow
                                            outlined
                                            shaped
                                            v-model="competency.trainingPlan"
                                        ></v-textarea>
                                        <v-radio-group v-model="competency.grade" row>
                                            <v-radio label="погано" value="0"></v-radio>
                                            <v-radio label="добре" value="1"></v-radio>
                                            <v-radio label="відмінно" value="2"></v-radio>
                                        </v-radio-group>
                                    </v-card>

                                    <!--<v-card>
                                        <v-card-actions>
                                            <v-btn
                                                color="green darken-1"
                                                text
                                                @click="saveReport()"
                                            >
                                                Зберегти
                                            </v-btn>
                                            <v-spacer></v-spacer>
                                            <v-btn text>Відмінити</v-btn>
                                        </v-card-actions>
                                    </v-card>-->

                                </v-col>
                                <div class="ma-2">

                                </div>
                            </v-row>


                            <v-row>
                                <v-col
                                    cols="9"
                                >
                                    <v-btn
                                        color="primary"
                                        @click="saveReport()"
                                    >
                                        Зберегти
                                    </v-btn>
                                </v-col>
                                <v-spacer></v-spacer>
                                <v-col
                                    cols="2"
                                >
                                    <v-btn text>Відмінити</v-btn>
                                </v-col>
                            </v-row>
                        </v-stepper-content>
                        <!-- competencies end-->

                        <!-- assess start -->
                        <!--<v-stepper-content step="3">
                            <v-row
                                class="ma-2"
                            >
                                <v-col
                                    cols="12"
                                >
                                    <h3 class="title">Оцінка ключових компетенцій</h3>
                                    <v-simple-table>
                                        <template v-slot:default>
                                            <tbody>

                                            <tr
                                               v-for="competency in competenciesNotes"
                                            >
                                                <td>{{competency.name}}</td>
                                                <td
                                                    v-for="(mark, index) in marks"
                                                    :key="index"
                                                >

                                                </td>
                                                <td><v-btn >погано</v-btn></td>
                                                <td><v-btn >добре</v-btn></td>
                                                <td><v-btn >відмінно</v-btn></td>
                                            </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-col>

                            </v-row>

                            <v-btn
                                color="primary"
                                @click="stageStepper = 1"
                            >
                                Continue
                            </v-btn>

                            <v-btn text>Cancel</v-btn>
                        </v-stepper-content>-->
                        <!-- assess end -->
                    </v-stepper-items>
                </template>
            </v-stepper>


        </v-dialog>
    </div>
</template>

<script>
    const baseUrl = 'http://mentor/';
    export default {
        name: "StageReport1",
        data () {
            return {
                dialog: false,
                stageStepper: 1,
                modal_started_at: false,
                started_at: new Date().toISOString().substr(0, 10),
                modal_finished_at: false,
                finished_at: new Date().toISOString().substr(0, 10),
                marks: ['погано', 'добре', 'відмінно'],
            }
        },
        methods: {
            cancel() {
                this.dialog = false;
                this.childUpdating = false;
                this.clearReportData();
                this.$emit('watchUpdating', this.childUpdating);
            },
            saveReport () {
                this.$http.post(baseUrl + 'api/create-stage-report', {
                    started_at: this.started_at,
                    finished_at: this.finished_at,
                    mentorComment: '',
                    stage: 1,
                    competenciesNotes: this.competenciesNotes,

                }).then((response) => {
                    // this.snackbar = true;
                    // if ( response.data.success ) {
                    //     this.snackbarText = 'Ситуаційний звіт збережено';
                    //     this.dialog = false;
                    //     this.updateFreshReportsList(response.data.success);
                    //     this.clearReportData();
                    // } else {
                    //     this.snackbarText = 'Сталася помилка! ' + response.data.error;
                    // }

                    console.log(response);
                });
            },
            setDataToUpdate() {
            },
            clearReportData() {
                this.reportEditId = null;
                this.situation = '';
                this.fabula = '';
                this.algorithm = '';
                this.competencies = [];
                this.notes = '';
                this.stepperWindow = 1;
            },
            updateReport () {
                if (this.updating) {
                    this.$http.put(baseUrl + 'api/update-situation-report', {
                        id: this.reportEditId,
                        situation: this.situation,
                        fabula: this.fabula,
                        algorithm: this.algorithm,
                        competencies: this.competencies,
                        notes: this.notes,
                    }).then((response) => {
                        this.snackbar = true;
                        if ( response.data.success ) {
                            this.snackbarText = 'Ситуаційний звіт оновлено';
                            this.updateReportVuex(response.data.success);
                            //need to close popup so call cancel method
                            this.cancel();
                        } else {
                            this.snackbarText = 'Сталася помилка! ' + response.data.error;
                        }
                    });
                }
            },
            updateReportVuex (data) {
                return this.$store.dispatch('updateReport', data)
            },
            updateFreshReportsList (data) {
                return this.$store.dispatch('updateFreshReportsList', data)
            }
        },
        computed: {
            partner() {
                return this.$store.getters.getPartner;
            },
            name() {
                return this.$store.getters.getUserData.name;
            },
            lastname() {
                return this.$store.getters.getUserData.lastname;
            },
            midname() {
                return this.$store.getters.getUserData.midname;
            },
            badgeNumber() {
                return this.$store.getters.getUserData.badgeNumber;
            },
            stage() {
                return this.$store.getters.getShift.stage_num;
            },
            competenciesList() {
                return this.$store.getters.getCompetenciesList;
            },
            situationsList() {
                return this.$store.getters.getSituationsList
                //     .map(function(el) {
                //     return {id:el.id, name:el.name, slug:el.slug, group:el.group, group_slug:el.group_slug, grade: 1}
                // });
            },
            competenciesNotes() {
                // arr.push({shortcomings: '', trainigPlan: ''});
                return this.competenciesList.map(function (el, i) {
                    let arr = [];

                    // arr.splice(el.id, 0, {name: el.name, shortcomings: '', trainigPlan: ''});
                   arr.push();
                   return {id:el.id, name: el.name, shortcomings: '', trainingPlan: '', grade: "1"};
               });
            }
        },
        mounted() {
            // console.log(this.situationsList);
        }
    }
</script>

<style scoped>

</style>
