<template>
    <div>
        <v-dialog v-model="dialog" max-width="700">
            <template v-slot:activator="{ on }">
                <v-icon
                    v-on="on"
                    small
                    class="mr-2"
                >
                    remove_red_eye
                </v-icon>
            </template>
            <v-card
                class="d-flex flex-column"
            >
                <v-card-title
                    class="headline justify-center"
                >
                    Етапний звіт-оцінювання
                </v-card-title>
                <v-card-text
                    class="subtitle-2"
                >
                    Період патрулювання з {{report.started_at}}
                    до {{report.finished_at}}
                </v-card-text>
                <v-card-text
                    class="subtitle-2"
                >Звіт створено {{report.created_at}}</v-card-text>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Стажер (ПІБ)</v-card-title>
                    <v-card-text>{{trainee.lastname}} {{trainee.name}} {{trainee.midname}}</v-card-text>
                </div>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Номер жетона стажера </v-card-title>
                    <v-card-text>{{trainee.badge_number}}</v-card-text>
                </div>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Батальйон/рота</v-card-title>
                    <v-card-text>{{trainee.battalion}}/{{trainee.troop}}</v-card-text>
                </div>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Наставник (ПІБ)</v-card-title>
                    <v-card-text>{{userData.lastname}} {{userData.name}} {{userData.midname}}</v-card-text>
                </div>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Номер жетона наставника </v-card-title>
                    <v-card-text>{{userData.badgeNumber}}</v-card-text>
                </div>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title>статистичні дані щодо кількості виконаних службових ситуацій</v-card-title>
                    <v-simple-table>
                        <template v-slot:default>
                            <thead>
                            <tr>
                                <th class="text-left">Службова ситуація</th>
                                <th class="text-left">зміна №1</th>
                                <th class="text-left">зміна №2</th>
                                <th class="text-left">зміна №3</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in situationCases" :key="item.id">
                                <td>{{ item.name }}</td>
                                <td>{{ item.cases1 }}</td>
                                <td>{{ item.cases2 }}</td>
                                <td>{{ item.cases3 }}</td>
                            </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </div>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">НОТАТКИ ЩОДО КЛЮЧОВИХ КОМПЕТЕНЦІЙ</v-card-title>
                    <div
                        style="border: solid 1px " class="ma-2"
                        v-for="assess in report.assessments"
                    >
                        <v-card-title>
                            {{assess.competency_name}}
                        </v-card-title>
                        <v-card-title>Недоліки в роботі за 3 зміни</v-card-title>
                        <v-card-text>
                            {{assess.shortcomings}}
                        </v-card-text>
                        <v-card-title>Рекомендації та план розвитку/навчання</v-card-title>
                        <v-card-text>
                            {{assess.training_plan}}
                        </v-card-text>
                        <v-card-title>Оцінка</v-card-title>
                        <v-card-text>
                            {{assess.grade_name}}
                        </v-card-text>
                    </div>
                </div>

                <div style="border: solid 1px " class="ma-2">
                    <v-card-title class="headline">Рекомендації від командира роти по організації процесу стажування у подальшому</v-card-title>
                    <v-card-text>{{troop_recommendations}}</v-card-text>
                </div>

                <v-card-actions>
                    <v-btn  @click="viewPdf" target="_blank">Download PDF</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="dialog = false">Закрити</v-btn>

                    <!-- <a href="http://mentor/customer/print-pdf" >asdfasdf</a> -->

                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "StageReportView",
        props: {
            report: {
                type: Object
            }
        },
        data() {
            return {
                dialog: false,

            }
        },
        methods: {
            viewPdf() {
                axios.get('http://mentor/customer/print-pdf', {
                    params: {
                        user: this.report.trainee_id,
                        reportId: this.report.id
                    }
                }).then((r)=>{
                    console.log(r)
                });
                console.log(this.report);
            },
            statsTable () {
                return this.situations.map(el => {
                    // return el;
                    return this.situationCases.filter(e => {
                        // return e.filter(elem => elem.);
                    });
                });
            }
        },
        computed: {
            trainee() {
                return this.$store.getters.getPartner;
            },
            userData() {
                return this.$store.getters.getUserData;
            },
            situationCases() {
                return this.$store.getters.getSituationsCases;
            },
            situations() {
                return this.$store.getters.getSituationsList;
            },
            troop_recommendations () {
                return this.report.troop_recommendations.join('\n');
            }
        },
        mounted() {
            console.log(this.situationCases);
            console.log(this.statsTable());
        }
    }
</script>

<style scoped>

</style>
