<template>
    <v-app class="grey lighten-4">
        <Navbar v-bind:isLoggedIn="isLoggedIn"
                v-bind:userData="userData"
                :role="role"
                :shift="shift"
                v-on:signOut="signOut($event)"></Navbar>
        <v-content
            class="mx-5"

        >
            <router-view v-bind:isLoggedIn="isLoggedIn"
                         :userData="userData"
                         :role="role"
                         :initialState="initialState"
            ></router-view>
        </v-content>
    </v-app>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>

<script>
    const initialState = JSON.parse(window.__INITIAL_STATE__);

    import Navbar from "@/js/components/Navbar";
    import axios from 'axios';
    const baseUrl = 'http://mentor/';
    export default {
        components: { Navbar },
        data () {
            return {
                isLoggedIn: null,
                initialState: initialState,
                userData: {
                    id: initialState.id,
                    email: initialState.email,
                    phoneNumber: initialState.phone_number,
                    name: initialState.name,
                    lastname: initialState.lastname,
                    midname: initialState.midname,
                    roleId: initialState.roleId,
                    role: initialState.role,
                    badgeNumber: initialState.badge_number,
                    battalion: initialState.battalion,
                    troop: initialState.troop,
                },
                role: {
                    id: initialState.roleId,
                    name: initialState.roleName,
                    slug: initialState.roleSlug,
                },
                partner: {
                    id: initialState.partner.id,
                    name: initialState.partner.name,
                    email: initialState.partner.email,
                },
                shift: {
                    started_at: initialState.latestShift.mentor_start, //field mentor_start
                    finished_at: initialState.latestShift.mentor_finish, //field mentor_finish
                    request_start: initialState.latestShift.trainee_start, //field trainee_start
                    request_finish: initialState.latestShift.trainee_finish, //field trainee_finish
                    shift_num: initialState.latestShift.shift,
                    stage_num: initialState.latestShift.stage
                },
                reportsList: initialState.allSituationsReports,
                freshReportsList: initialState.freshSituationsReports,
                partnerReports: {},
                situationsCases: initialState.situations_cases,
                stageReports: initialState.stageReports,
            };
        },
        methods: {
            signOut(e) {
                $cookies.remove('accesstoken');
                this.isLoggedIn = e;
                axios.post('logout').then(success => {
                    // console.log(success);
                    document.location.href = 'login';
                });
            },
            //vuex actions
            setUserData () {
                return this.$store.dispatch('setUserData', this.userData)
            },
            setRole () {
                return this.$store.dispatch('setRole', this.role)
            },
            setPartner () {
                return this.$store.dispatch('setPartner', this.initialState.partner)
            },
            setReportsList () {
                return this.$store.dispatch('setReportsList', this.initialState.allSituationsReports)
            },
            setFreshReportsList () {
                return this.$store.dispatch('setFreshReportsList', this.initialState.freshSituationsReports)
            },
            setPartnerReports () {
                return this.$store.dispatch('setPartnerReports', this.initialState.freshSituationsReports)
            },
            setShift () {
                return this.$store.dispatch('setShift', this.initialState.latestShift)
            },
            setSituationsList () {
                return this.$store.dispatch('setSituationsList', this.initialState.situations)
            },
            setCompetenciesList () {
                return this.$store.dispatch('setCompetenciesList', this.initialState.competencies)
            },
            setSituationsCases () {
                return this.$store.dispatch('setSituationsCases', this.situationsCases)
            },
            setStageReports () {
                return this.$store.dispatch('setStageReports', this.stageReports)
            },
            //vuex actions end
        },
        computed: {
            getUserData(){
                return this.$store.getters.getUserData;
            }
        },
        beforeCreate() {},
        created() {
            let token = $cookies.get('accesstoken');

            //auth info
            axios.defaults.headers.common['Content-Type'] = 'application/json';
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + token;

            this.isLoggedIn = $cookies.get('accesstoken');

            this.setUserData();
            this.setRole();
            this.setPartner();
            this.setReportsList();
            this.setFreshReportsList();
            this.setPartnerReports();
            this.setShift();
            this.setCompetenciesList();
            this.setSituationsList();
            this.setSituationsCases();
            this.setStageReports();
        },
        beforeMount() {},
        mounted(){},
        beforeUpdate() {},
        updated() {},
        beforeDestroy() {},
        destroyed() {},
    }
</script>
