<template>
    <div>
        <v-dialog
            v-model="shiftReportDialog"
            persistent
            width="1000"
            class="my-2"
        >
            <template #activator="{ on: shiftReportDialog}">
                <v-btn
                    v-on="{...shiftReportDialog}"
                >
                    Написати щозмінний звіт
                </v-btn>
            </template>

            <v-stepper v-model="stepperShiftReport">
                <template>
                    <v-stepper-header class="d-flex justify-center align-center grey lighten-2">
                        <h3 class="heading">Щозмінний звіт-оцінювання</h3>
                    </v-stepper-header>

                    <v-stepper-items>
                        <!--                        situations statistics-->
                        <v-stepper-content
                            step="1"
                        >
                            <v-card>
                                <v-card-title>
                                    Статистичні дані
                                </v-card-title>
                                <v-row>
                                    <v-col cols="12" sm="8">
                                        <v-dialog
                                            ref="dialog_patrol_date"
                                            v-model="modal_patrol_date"
                                            :return-value.sync="patrol_date"
                                            persistent
                                            width="290px"
                                        >
                                            <template v-slot:activator="{ on }">
                                                <v-text-field
                                                    v-model="patrol_date"
                                                    label="Дата патрулювання"
                                                    prepend-icon="event"
                                                    v-on="on"
                                                ></v-text-field>
                                            </template>
                                            <v-date-picker v-model="patrol_date" scrollable locale="uk">
                                                <v-spacer></v-spacer>
                                                <v-btn text color="" @click="modal_patrol_date = false">Відміна
                                                </v-btn>
                                                <v-btn text color=""
                                                       @click="$refs.dialog_patrol_date.save(patrol_date)">
                                                    OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-col>
                                    <v-col
                                        cols="12" sm="4"
                                    >
                                        <v-switch v-model="is_day_shift">
                                            <template v-slot:label>
                                                <div v-if="is_day_shift">День</div>
                                                <div v-else>Ніч</div>
                                            </template>
                                        </v-switch>
                                    </v-col>
                                </v-row>
                                <v-simple-table dense>
                                    <template v-slot:default>
                                        <thead>
                                        <tr>
                                            <th class="text-left">Службова ситуація</th>
                                            <th class="text-left">Зміна</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="situation in situations" :key="situation.id">
                                            <td>{{ situation.name }}</td>
                                            <td>
                                                <v-row align="center" justify="center">
                                                    <v-col>
                                                        <v-select
                                                            :items="[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"
                                                            label="Кількість випадків"
                                                            outlined
                                                            dense
                                                            hide-details
                                                            v-model="situation.cases"
                                                        ></v-select>
                                                    </v-col>
                                                </v-row>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                                <v-card-actions>
                                    <v-btn
                                        @click="stepperShiftReport=2"
                                    >
                                        Далі
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        @click="cancel"
                                    >
                                        Відмінити
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-stepper-content>
                        <!--                        situations statistics end-->

                        <v-stepper-content
                            step="2"
                        >
                            <v-card>
                                <v-card-title>
                                    Нотатки щодо використаних ключових компетенцій
                                </v-card-title>
                                <div
                                    style="border: solid 1px "
                                    class="pa-2 my-5"
                                    v-for="(competency, index) in competenciesNotes"
                                    v-bind:key="competency.id"
                                >
                                    <v-card-title>
                                        {{competency.name}}
                                    </v-card-title>
                                    <v-textarea
                                        label="Нотатки"
                                        auto-grow
                                        outlined
                                        shaped
                                        v-model="competency.traineeNotes"
                                    ></v-textarea>
                                </div>
                                <v-card-actions>
                                    <v-btn
                                        @click="saveShiftReport"
                                    >
                                        Зберегти
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        @click="stepperShiftReport=1"
                                    >
                                        Назад
                                    </v-btn>
                                    <v-btn
                                        @click="cancel"
                                    >
                                        Відмінити
                                    </v-btn>
                                </v-card-actions>
                            </v-card>

                        </v-stepper-content>

                    </v-stepper-items>
                </template>
            </v-stepper>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        name: "ShiftReport",
        data () {
            return {
                shiftReportDialog: false,
                stepperShiftReport: 1,
                is_day_shift: true,
                modal_patrol_date: false,
                modal_next_shift_date: false,
                patrol_date: new Date().toISOString().substr(0, 10),
                nextShiftDate: new Date().toISOString().substr(0, 10)
            }
        },
        computed: {
            situations () {
                return this.$store.getters.getSituationsList.map(function(el) {
                    return {id:el.id, name:el.name, slug:el.slug, cases: 0};
                });
            },
            shift() {
                return this.$store.getters.getShift;
            },
            partner() {
                return this.$store.getters.getPartner;
            },
            userData(){
                return this.$store.getters.getUserData;
            },
            competenciesNotes() {
                return this.$store.getters.getCompetenciesList.map(function (el, i) {
                    return {id:el.id, name: el.name, traineeNotes: ''};
                });
            }
        },
        methods: {
            cancel() {
                this.shiftReportDialog = false;
                this.stepperShiftReport = 1;
            },
            saveShiftReport() {
                this.$http.post('http://mentor/api/save-shift-report', {
                    trainee_id: this.userData.id,
                    mentor_id: this.partner.id,
                    shift: this.shift.shift_num,
                    stage: this.shift.stage_num,
                    started_at: this.patrol_date,
                    is_day_shift: this.is_day_shift,
                    situations_statistics: this.situations,
                    competencies_notes: this.competenciesNotes
                });
            }
        },
        mounted() {
            // console.log(this.shift);
        }
    }
</script>

<style scoped>

</style>
