<template>

    <div>
        <v-dialog
            v-model="dialog"
            persistent
            width="1000"
            class="my-2"
        >
            <template
                #activator="{ on: dialog }"
            >
                <!--                                false, false-->
                <v-tooltip
                    v-if="shift.request_finish || !shift.started_at"
                    right
                >
                    <template #activator="{ on: tooltip }">
                        <div
                            style="display: inline-block"
                            v-on="{ ...tooltip }"
                        >
                            <v-btn
                                v-on="{ ...dialog }"
                                disabled
                            >
                                Написати звіт #2
                            </v-btn>
                        </div>
                    </template>
                    <span>Спочатку розпочніть зміну</span>
                </v-tooltip>

                <v-tooltip
                    v-else
                    right
                >
                    <template #activator="{ on: tooltip }">
                        <div
                            style="display: inline-block"
                            v-on="{ ...tooltip }"
                        >
                            <v-btn

                                color="green lighten-2"
                                dark
                                v-on="{ ...dialog }"
                            >
                                Написати звіт #2
                            </v-btn>
                        </div>
                    </template>
                    <span>Натисніть, щоб приступити до написання звіту</span>
                </v-tooltip>
            </template>

            <v-stepper
                v-model="stepperWindow"
            >
                <template >
                    <v-stepper-header class="d-flex justify-center align-center grey lighten-2">
                        <h3 class="headline">Ситуаційний звіт стажера</h3>
                    </v-stepper-header>

                    <v-stepper-items>
                        <!--                        Fabula start-->
                        <v-stepper-content
                            step="1"
                        >
                            <v-card>
                                <v-card-title
                                    class="title"
                                    primary-title
                                >
                                    Фабула
                                </v-card-title>

                                <v-card-text>
                                    <v-select
                                        class="my-2"
                                        :items="cc"
                                        label="Оберіть вид службової ситуації"
                                        target="#dropdown-example"
                                        v-model="situation"
                                        outlined
                                    ></v-select>
                                    <v-textarea
                                        name="fabula"
                                        label="Фабула"
                                        placeholder="Заповніть фабулу звіту"
                                        v-model="fabula"
                                    ></v-textarea>
                                </v-card-text>
                            </v-card>
                            <div
                                class="d-flex mt-2"
                            >
                                <v-tooltip
                                    v-if="typeof fabula === 'undefined' || fabula === '' || situation === ''"
                                    bottom
                                >
                                    <template #activator="{ on: tooltip }">
                                        <div
                                            v-on="{...tooltip}"
                                        >
                                            <v-btn
                                                color="primary"
                                                disabled
                                            >
                                                Далі
                                            </v-btn>
                                        </div>
                                    </template>
                                    <span>Оберіть службову ситуацію і заповніть фабулу</span>
                                </v-tooltip>

                                <v-btn
                                    v-else
                                    color="primary"
                                    @click="stepperWindow = 2"
                                >
                                    Далі
                                </v-btn>

                                <v-spacer></v-spacer>

                                <v-btn
                                    text
                                    @click="cancel"
                                >
                                    Відмінити
                                </v-btn>
                            </div>
                        </v-stepper-content>
                        <!--                        Fabula end-->

                        <!--                        Algorithm start-->
                        <v-stepper-content
                            step="2"
                        >
                            <v-card>
                                <v-card-title
                                    class="title"
                                    primary-title
                                >
                                    Алгоритм дій наставника
                                </v-card-title>

                                <v-card-text>
                                    <v-textarea
                                        name="algorithm"
                                        placeholder="Опишіть алгоритм дій наставника"
                                        v-model="algorithm"
                                    ></v-textarea>
                                </v-card-text>
                            </v-card>
                            <div
                                class="d-flex mt-2"
                            >
                                <v-tooltip
                                    v-if="typeof algorithm === 'undefined' || algorithm === ''"
                                    bottom
                                >
                                    <template #activator="{ on: tooltip }">
                                        <div
                                            v-on="{...tooltip}"
                                        >
                                            <v-btn
                                                color="primary"
                                                disabled
                                            >
                                                Далі
                                            </v-btn>
                                        </div>
                                    </template>
                                    <span>Заповніть алгоритм дій наставника</span>
                                </v-tooltip>

                                <v-btn
                                    v-else
                                    color="primary"
                                    @click="stepperWindow = 3"
                                >
                                    Далі
                                </v-btn>
                                <v-btn
                                    class="mx-4"
                                    color="primary"
                                    @click="stepperWindow = 1"
                                >
                                    Назад
                                </v-btn>
                                <v-spacer></v-spacer>

                                <v-btn
                                    text
                                    @click="cancel"
                                >
                                    Відмінити
                                </v-btn>
                            </div>
                        </v-stepper-content>
                        <!--                        Algorithm end-->

                        <!--                        Competencies start-->
                        <v-stepper-content
                            step="3"
                        >
                            <v-card>
                                <v-card-title
                                    class="title"
                                    primary-title
                                >
                                    Ключові компетенції
                                </v-card-title>

                                <v-card-text>
                                    <v-select
                                        v-model="competencies"
                                        :items="competenciesList"
                                        chips
                                        label="Ключові компетенції"
                                        multiple
                                        outlined
                                    ></v-select>
                                </v-card-text>
                            </v-card>
                            <div
                                class="d-flex mt-2"
                            >
                                <v-tooltip
                                    v-if="typeof competencies === 'undefined' || competencies.length === 0"
                                    bottom
                                >
                                    <template #activator="{ on: tooltip }">
                                        <div
                                            v-on="{...tooltip}"
                                        >
                                            <v-btn
                                                color="primary"
                                                disabled
                                            >
                                                Далі
                                            </v-btn>
                                        </div>
                                    </template>
                                    <span>Оберіть ключові компетенції</span>
                                </v-tooltip>

                                <v-btn
                                    v-else
                                    color="primary"
                                    @click="stepperWindow = 4"
                                >
                                    Далі
                                </v-btn>

                                <v-btn
                                    class="mx-4"
                                    color="primary"
                                    @click="stepperWindow = 2"
                                >
                                    Назад
                                </v-btn>

                                <v-spacer></v-spacer>

                                <v-btn
                                    text
                                    @click="cancel"
                                >
                                    Відмінити
                                </v-btn>
                            </div>
                        </v-stepper-content>
                        <!--                        Competencies end-->

                        <!--                        Notes start-->
                        <v-stepper-content
                            step="4"
                        >
                            <v-card>
                                <v-card-title
                                    class="title"
                                    primary-title
                                >
                                    Нотатки
                                </v-card-title>

                                <v-card-text>
                                    <v-textarea
                                        name="notes"
                                        label="Нотатки"
                                        placeholder="..."
                                        v-model="notes"
                                    ></v-textarea>
                                </v-card-text>
                            </v-card>
                            <div
                                class="d-flex mt-2"
                            >
                                <v-btn
                                    v-if="!updating"
                                    color="primary"
                                    @click="saveReport"
                                >
                                    Зберегти
                                </v-btn>
                                <v-btn
                                    v-else
                                    color="primary"
                                    @click="updateReport"
                                >
                                    Оновити
                                </v-btn>

                                <v-btn
                                    class="mx-4"
                                    color="primary"
                                    @click="stepperWindow = 3"
                                >
                                    Назад
                                </v-btn>
                                <v-spacer></v-spacer>

                                <v-btn
                                    text
                                    @click="cancel"
                                >
                                    Відмінити
                                </v-btn>
                            </div>
                        </v-stepper-content>
                        <!--                        Notes end-->
                    </v-stepper-items>
                </template>
            </v-stepper>

        </v-dialog>
    </div>
</template>

<script>
    export default {
        name: "SituationReport2",
        props: {
            reportToUpdate: {
                type: Object
            },
            email: {
                type: String
            }
        },
        data () {
            return {
                updating: false,
                snackbar: false,
                snackbarText: false,
                dialog: false,
                stepperWindow: 1,
                situation: '',
                fabula: '',
                algorithm: '',
                competencies: [],
                notes: '',
                cc: [
                    //АДМІНІСТРАТИВНІ ПРАВОПОРУШЕННЯ
                    'Дрібні адміністративні правопорушення',
                    'Бійка в публічному місці',
                    'Масові заворушення та охорона публічного порядку',
                    'Порушення правил дорожнього руху',
                    'Керування транспортним засобом в стані сп’яніння',
                    'Дорожньо-транспортна пригода без потерпілих',
                    //ЗЛОЧИНИ
                    'Грабіж/розбій/крадіжка',
                    'Злочин проти життя та здоров’я особи',
                    'Вуличний злочин',
                    'Дорожньо-транспортна пригода з потерпілими',
                    //ДОМАШНЄ НАСИЛЬСТВО
                    'Домашнє насильство',
                    //ПРЕВЕНЦІЯ
                    'Несення служби в публічному місці',
                    'Регулювання дорожнього руху'
                ],
                competenciesList: [
                    'ТАКТИКА',
                    'КОМУНІКАЦІЯ',
                    'ЗАКОНОДАВСТВО',
                    'ДОКУМЕНТУВАННЯ',
                    'ЕТИКА ТА СЛУЖБОВА ДИСЦИПЛІНА',
                    'УПРАВЛІННЯ СТРЕСОМ',
                    'СПЕЦІАЛЬНІ ЗНАННЯ ТА ЗАСОБИ',
                    'МОДЕЛЬ ЗАСТОСУВАННЯ СИЛИ',
                    'БЕЗПЕКА ДОРОЖНЬОГО РУХУ',
                    'ДІЇ НА МІСЦІ ПОДІЇ',
                    'ВЗАЄМОДІЯ З НАСЛЕННЯМ',
                ],
                childUpdating: false
            }
        },
        methods: {
            cancel () {

            },
            saveReport () {

            },
        },
        computed: {
            getFreshReportsList() {
                return this.$store.getters.getFreshReportsList;
            },
            shift () {
                return this.$store.getters.getShift;
            }
        },
    }
</script>

<style scoped>

</style>
